{% extends 'home/base.html' %} {% block content %}

<body id="home" class="layout-default dvc-ios demo">
  {% include 'home/header.html' %}

  <div class="content loc-custom sec-bpr-home">
    <div id="breadcrumbs" class="container">
      <div class="bread-text">
        <ul class="breadcrumb" itemscope="" itemtype="http://schema.org/BreadcrumbList">
          <meta itemprop="name" content="Breadcrumb" />
          <li itemscope="" itemprop="itemListElement" itemtype="http://schema.org/ListItem" class="first-child">
            <a href="https://epsilon.mb-themes.com/" itemprop="item"><span itemprop="name" class="home"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" height="14" width="16">
                  <path d="M575.8 255.5C575.8 273.5 560.8 287.6 543.8 287.6H511.8L512.5 447.7C512.5 450.5 512.3 453.1 512 455.8V472C512 494.1 494.1 512 472 512H456C454.9 512 453.8 511.1 452.7 511.9C451.3 511.1 449.9 512 448.5 512H392C369.9 512 352 494.1 352 472V384C352 366.3 337.7 352 320 352H256C238.3 352 224 366.3 224 384V472C224 494.1 206.1 512 184 512H128.1C126.6 512 125.1 511.9 123.6 511.8C122.4 511.9 121.2 512 120 512H104C81.91 512 64 494.1 64 472V360C64 359.1 64.03 358.1 64.09 357.2V287.6H32.05C14.02 287.6 0 273.5 0 255.5C0 246.5 3.004 238.5 10.01 231.5L266.4 8.016C273.4 1.002 281.4 0 288.4 0C295.4 0 303.4 2.004 309.5 7.014L564.8 231.5C572.8 238.5 576.9 246.5 575.8 255.5L575.8 255.5z"></path>
                </svg> <span>Home</span></span></a>
            <meta itemprop="position" content="1" />
          </li>

          <li itemscope="" itemprop="itemListElement" itemtype="http://schema.org/ListItem" class="last-child">&gt; <span itemprop="name">Companies</span>
            <meta itemprop="position" content="2" />
          </li>
        </ul>
      </div>
    </div>

    <div id="flashbox" class="container">
      <div class="wrap">
        <div class="wrap2"></div>
      </div>
    </div>
    <div class="container primary">
      <div id="bpr-seller" class="bpr-body bpr-list">
        <div class="bpr-inside-all">
          <div class="bpr-top-search">
            <form action="{% url 'companies:list-companies' %}" method="GET" id="city-filter-form" class="nocsrf">
              <div class="bpr-search-left">
                <input type="text" name="bpWord" id="bpr-word" value="" placeholder="Search company" />
                <button id="bpr-submit" type="submit"><i class="fa fa-search"></i></button>
              </div>

              <div class="bpr-search-right">
                <select class="bpr-city" name="bpCity" id="city-dropdown">
                  <option value="">All cities</option>
                  {% for city in cities %}
                  <option value="{{ city.id }}" {% if request.GET.bpCity == city.id|stringformat:"s" %}selected{% endif %}>
                    {{ city.name }}
                  </option>
                  {% endfor %}
                </select>

                <select class="bpr-category" name="bpCategory" id="bpr-category">
    <option value="">All categories</option>
    {% for category in categories %}
    <option value="{{ category.id }}" {% if request.GET.bpCategory == category.id|stringformat:"s" %}selected{% endif %}>
        {{ category.title }}
    </option>
    {% endfor %}
</select>
              </div>
            </form>

          </div>

          {% for company in companies %}
          <a class="bpr-comp" href="{% url 'companies:company-public' company.pk %}">
            <div class="bpr-cover">
              <div class="bpr-wrap">
                {% if company.cover_pic %}
                <div class="bpr-wrap-img" style="background-image: url('{{ company.cover_pic.url }}')"></div>
                {% else %}
                <div class="bpr-wrap-img" style=""></div>
                {% endif %}
                <div class="bpr-elip"></div>
              </div>
            </div>

            <div class="bpr-icon-wrap">
              <div class="bpr-icon">
                {% if company.logo %}
                <div style="background-image: url('{{ company.logo.url }}')"></div>
                {% else %}
                <div style=""></div>
                {% endif %}
              </div>
            </div>

            <div class="bpr-info">
              <div class="bpr-title">{{ company.name }}</div>
              <div class="bpr-loc">{{ company.address.line1 }}, {{ company.address.city }}</div>

              <div class="bpr-labels">
                <div class="bpr-user-type bpr-type-2">Pro</div>

                <div class="bpr-count">1 listings</div>
              </div>
            </div>
          </a>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>

  {% include 'home/footer.html' %} {% include 'home/mobile_bottom_bar.html' %}
  <div id="body-banner" class="bleft" class="default-font font-size-14">
    <div id="banner-theme" class="banner-theme banner-body_left not767 is-demo" class="default-font font-size-14">
      <div class="myad" speechify-initial-font-family="monospace" speechify-initial-font-size="14px">
        <div class="text" speechify-initial-font-family="monospace" speechify-initial-font-size="16px">
          <a href="https://www.a2hosting.com?aid=5ff74858d3bac&amp;bid=a504f205" target="_top" speechify-initial-font-family="monospace" speechify-initial-font-size="16px"><img src="//affiliates.a2hosting.com/accounts/default1/9u7wabf7le4/a504f205.jpg" alt="" title="" width="160" height="600" speechify-initial-font-family="monospace" speechify-initial-font-size="16px" /></a><img style="border: 0" src="https://affiliates.a2hosting.com/scripts/9u7waif7le4?aid=5ff74858d3bac&amp;bid=a504f205" width="1" height="1" alt="" speechify-initial-font-family="monospace" speechify-initial-font-size="16px" />
        </div>
      </div>
    </div>
  </div>

  <div id="body-banner" class="bright" class="default-font font-size-14">
    <div id="banner-theme" class="banner-theme banner-body_right not767 is-demo" class="default-font font-size-14">
      <div class="myad" speechify-initial-font-family="monospace" speechify-initial-font-size="14px">
        <div class="text" speechify-initial-font-family="monospace" speechify-initial-font-size="16px">
          <a href="https://www.a2hosting.com?aid=5ff74858d3bac&amp;bid=a504f205" target="_top" speechify-initial-font-family="monospace" speechify-initial-font-size="16px"><img src="//affiliates.a2hosting.com/accounts/default1/9u7wabf7le4/a504f205.jpg" alt="" title="" width="160" height="600" speechify-initial-font-family="monospace" speechify-initial-font-size="16px" /></a><img style="border: 0" src="https://affiliates.a2hosting.com/scripts/9u7waif7le4?aid=5ff74858d3bac&amp;bid=a504f205" width="1" height="1" alt="" speechify-initial-font-family="monospace" speechify-initial-font-size="16px" />
        </div>
      </div>
    </div>
  </div>

  <a id="scroll-to-top" class="default-font font-size-14"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512" width="20" height="20" class="default-font font-size-14">
      <path d="M24 32h336c13.3 0 24 10.7 24 24v24c0 13.3-10.7 24-24 24H24C10.7 104 0 93.3 0 80V56c0-13.3 10.7-24 24-24zm232 424V320h87.7c17.8 0 26.7-21.5 14.1-34.1L205.7 133.7c-7.5-7.5-19.8-7.5-27.3 0L26.1 285.9C13.5 298.5 22.5 320 40.3 320H128v136c0 13.3 10.7 24 24 24h80c13.3 0 24-10.7 24-24z" class="default-font font-size-14"></path>
    </svg></a>

  <div id="menu-cover" class="mobile-box" class="default-font font-size-14">
    <svg class="close" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" width="32px" height="32px" class="default-font font-size-14">
      <path fill="currentColor" d="M193.94 256L296.5 153.44l21.15-21.15c3.12-3.12 3.12-8.19 0-11.31l-22.63-22.63c-3.12-3.12-8.19-3.12-11.31 0L160 222.06 36.29 98.34c-3.12-3.12-8.19-3.12-11.31 0L2.34 120.97c-3.12 3.12-3.12 8.19 0 11.31L126.06 256 2.34 379.71c-3.12 3.12-3.12 8.19 0 11.31l22.63 22.63c3.12 3.12 8.19 3.12 11.31 0L160 289.94 262.56 392.5l21.15 21.15c3.12 3.12 8.19 3.12 11.31 0l22.63-22.63c3.12-3.12 3.12-8.19 0-11.31L193.94 256z" class="" class="default-font font-size-14"></path>
    </svg>
  </div>

  {% include 'home/side_menu.html' %}
</body>
{% endblock %}
{% block custom_js %}
<script type="text/javascript">
  document.getElementById('city-dropdown').addEventListener('change', function () {
    this.form.submit();
  });

  document.getElementById('bpr-category').addEventListener('change', function () {
    this.form.submit();
  });
</script>

{% endblock %}