{% extends 'home/base.html' %} {% block content %}
<style>
  .realestate-details {}

  .realestate-details h3 {
    margin-left: 40px;
    margin-top: 20px;
  }

  .realestate-details .table-attributes {
    margin-left: 20px;
  }

  .realestate-details .table-attributes table {
    width: 100%;
  }

  .realestate-details .row-title {
    width: 150px;
  }

  .realestate-details h4 {
    margin-left: 20px;
  }

  .realestate-details .list-other-attributes li {
    float: left;
    width: 140px;
  }

  .realestate-details .list-other-attributes img {
    height: 14px;
    width: 14px;
  }

  .realestate-details .clear {
    clear: both;
  }
</style>

<body id="user-dashboard" class="body-ua demo">
  {% include 'home/header.html' %}

  <div class="content loc-user sec-dashboard">
    <div id="breadcrumbs" class="container">
      <div class="bread-text">
        <ul class="breadcrumb" itemscope="" itemtype="http://schema.org/BreadcrumbList">
          <meta itemprop="name" content="Breadcrumb" />
          <li itemscope="" itemprop="itemListElement" itemtype="http://schema.org/ListItem" class="first-child">
            <a href="https://epsilon.mb-themes.com/" itemprop="item"><span itemprop="name" class="home"><svg
                  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" height="14" width="16">
                  <path
                    d="M575.8 255.5C575.8 273.5 560.8 287.6 543.8 287.6H511.8L512.5 447.7C512.5 450.5 512.3 453.1 512 455.8V472C512 494.1 494.1 512 472 512H456C454.9 512 453.8 511.1 452.7 511.9C451.3 511.1 449.9 512 448.5 512H392C369.9 512 352 494.1 352 472V384C352 366.3 337.7 352 320 352H256C238.3 352 224 366.3 224 384V472C224 494.1 206.1 512 184 512H128.1C126.6 512 125.1 511.9 123.6 511.8C122.4 511.9 121.2 512 120 512H104C81.91 512 64 494.1 64 472V360C64 359.1 64.03 358.1 64.09 357.2V287.6H32.05C14.02 287.6 0 273.5 0 255.5C0 246.5 3.004 238.5 10.01 231.5L266.4 8.016C273.4 1.002 281.4 0 288.4 0C295.4 0 303.4 2.004 309.5 7.014L564.8 231.5C572.8 238.5 576.9 246.5 575.8 255.5L575.8 255.5z">
                  </path>
                </svg> <span>Home</span></span></a>
            <meta itemprop="position" content="1" />
          </li>

          <li itemscope="" itemprop="itemListElement" itemtype="http://schema.org/ListItem" class="last-child">&gt;
            <span itemprop="name">Dashboard</span>
            <meta itemprop="position" content="2" />
          </li>
        </ul>
      </div>
    </div>

    <div id="flashbox" class="container">
      <div class="wrap">
        <div class="wrap2"></div>
      </div>
    </div>
    <div class="container primary">
      {% include 'account/user_menu.html' %}

      <div id="user-main">
        <div class="user-custom-box">


          <div id="bpr-prof" class="bpr-body bpr-prof">
            <div class="bpr-msg-wrap">
              <div class="bpr-msg">Your business profile is pending validation by admin</div>
            </div>

            <div class="bpr-inside">
              <h2>Company Profile</h2>

              <a class="bpr-show-profile" href="https://epsilon.mb-themes.com/company/mario">Show profile</a>

              <form class="nocsrf" method="POST" name="bpr_profile" id="bpr_profile"
                action="{%url 'companies:company_detail'%}" enctype="multipart/form-data">
                {% csrf_token %}

                <script>
                  $(document).ready(function () {
                    var image = document.getElementById('sample-image'); // Placeholder image element for cropper
                    var cropper;
                
                    // Initialize cropper on the image
                    function initCropper() {
                      if (cropper) {
                        cropper.destroy();
                      }
                      cropper = new Cropper(image, {
                        aspectRatio: 1,
                        viewMode: 2,
                        preview: '.img-preview', // Your preview container
                        crop: function (event) {
                          // Cropping logic here if needed
                        }
                      });
                    }
                
                    $('#bpr-file-icon').on('change', function (event) {
                      var files = event.target.files;
                      var allowedExtensions = ['jpeg', 'jpg', 'png', 'gif'];
                
                      if (files && files.length) {
                        var fileExtension = files[0].name.split('.').pop().toLowerCase();
                        if (!allowedExtensions.includes(fileExtension)) {
                          alert('Only formats are allowed: ' + allowedExtensions.join(', '));
                          return false;
                        }
                
                        var reader = new FileReader();
                        reader.onload = function (e) {
                          image.src = e.target.result;
                          initCropper(); // Initialize cropper with new image
                        };
                        reader.readAsDataURL(files[0]);
                      }
                    });
                
                    $('.btn.img-rotate').click(function () {
                      if (cropper) {
                        cropper.rotate(90);
                      }
                    });
                
                    $('.btn.cancel').click(function (e) {
                      e.preventDefault();
                      $('#bpr-file-icon').val('');
                      if (cropper) {
                        cropper.destroy();
                      }
                      image.src = ''; // Reset the image source or set to a default image
                    });
                
                    $('.btn.crop').click(function () {
                      if (cropper) {
                        canvas = cropper.getCroppedCanvas({
                          width: 100, // Set the width of the cropped image
                          height: 100, // Set the height of the cropped image
                          imageSmoothingEnabled: true,
                          imageSmoothingQuality: 'high',
                        });
                
                        canvas.toBlob(function (blob) {
                          var reader = new FileReader();
                          reader.readAsDataURL(blob);
                          reader.onloadend = function () {
                            var base64data = reader.result;
                            $('input[name="pp_blob"]').val(base64data).change(); // Update the hidden input field
                          };
                        }, 'image/jpeg', 1);
                      }
                    });
                
                    $('input[name="pp_blob"]').on('change', function () {
                      // Submit the form or perform further actions
                      // $(this).closest('form').submit();
                    });
                
                    // Implement the logic for the remove profile picture button if required
                    $('.btn.remove-profile-picture').on('click', function (e) {
                      e.preventDefault();
                      // AJAX call or other logic here
                    });
                  });
                </script>
                

                <div class="bpr-row bpr-row-icon">
                  <div class="bpr-utitle">Company logo (100x100 px)</div>

                  <div class="bpr-inputs">
                    <div class="bpr-preview">
                      <img src="https://epsilon.mb-themes.com/oc-content/plugins/business_profile/img/icon_default.png">
                    </div>

                    <div class="bpr-attachment">
                      <div class="bpr-att-box">
                        <label class="bpr-status">
                          <span class="bpr-wrap"><i class="fa fa-paperclip"></i> <span>Upload your logo</span></span>
                          <input type="file" name="bpr-file-icon" id="bpr-file-icon" class="bpr-file-icon">
                        </label>
                      </div>
                    </div>

                  </div>
                </div>

                <div class="bpr-row bpr-row-cover">
                  <div class="bpr-utitle">Company cover (1600x600 px)</div>

                  <div class="bpr-inputs">
                    <div class="bpr-preview">
                      <img
                        src="https://epsilon.mb-themes.com/oc-content/plugins/business_profile/img/cover_default.jpg">
                    </div>

                    <div class="bpr-attachment">
                      <div class="bpr-att-box">
                        <label class="bpr-status">
                          <span class="bpr-wrap"><i class="fa fa-paperclip"></i> <span>Upload your cover</span></span>
                          <input type="file" name="bpr-file-cover" id="bpr-file-cover" class="bpr-file-cover">
                        </label>
                      </div>
                    </div>

                  </div>
                </div>
                <!-- Name Field -->

                <div class="row">
                  <label for="name">Company Name <span class="req">*</span></label>
                  <div class="input-box">
                    <input id="name" type="text" name="name" value="{{ main_company.name|default_if_none:'' }}" />
                  </div>
                </div>

                <!-- About Field -->
                <div class="row">
                  <label for="about">About Company <span class="req">*</span></label>
                  <div class="input-box">
                    <textarea id="about" name="about">{{ main_company.about|default_if_none:'' }}</textarea>
                  </div>
                </div>

                <div class="bpr-row bpr-row-cat">
                  <div class="bpr-utitle">Primary categories</div>

                  <div class="bpr-row-select-multiple">
                    <input type="hidden" name="bpr-category" id="bpr-category" value="12">

                    <div class="bpr-select-cat">

                      <div class="bpr-box-check bpr-check-parent" data-parent="0">
                        <input type="checkbox" id="bpr-cat-1" value="1">
                        <label for="bpr-cat-1">For sale</label>
                      </div>



                      <div class="bpr-box-check bpr-check-child" data-parent="1">
                        <input type="checkbox" id="bpr-cat-9" value="9">
                        <label for="bpr-cat-9">Animals</label>
                      </div>

                      <div class="bpr-box-check bpr-check-parent" data-parent="0">
                        <input type="checkbox" id="bpr-cat-4" value="4">
                        <label for="bpr-cat-4">Real estate</label>
                      </div>



                      <div class="bpr-box-check bpr-check-child" data-parent="8">
                        <input type="checkbox" id="bpr-cat-95" value="95">
                        <label for="bpr-cat-95">Other Jobs</label>
                      </div>
                    </div>
                  </div>
                </div>


                <div class="bpr-row bpr-row-oh">
                  <div class="bpr-utitle">Opening hours</div>
                  <div class="bpr-inputs">
                    {% for day, day_name in day_choices %}
                    <div class="bpr-line">
                      <span>{{ day_name }}</span>
                      <input type="text" class="bpr-input bpr-oh" name="bpr-oh_{{ forloop.counter }}"
                        value="{% for schedule in branch.schedules.all %}{% if schedule.day == day %}{{ schedule.start_time|time:"H:i" }} - {{ schedule.end_time|time:"H:i" }}{% if not forloop.last %}, {% endif %}{% endif %}{% endfor %}"
                        placeholder="From - To">
                    </div>
                    {% endfor %}
                  </div>
                </div>



                <div class="bpr-row bpr-row-sc">
                  <div class="bpr-utitle">Social network links</div>

                  <div class="bpr-inputs">
                    <div class="bpr-line">
                      <span>Facebook</span>
                      <input type="text" class="bpr-input bpr-soc" name="bpr-soc_fb"
                        value="{{ main_company.facebook_link }}" placeholder="http://">
                    </div>
                    <div class="bpr-line">
                      <span>Twitter</span>
                      <input type="text" class="bpr-input bpr-soc" name="bpr-soc_tw"
                        value="{{ main_company.twitter_link }}" placeholder="http://">
                    </div>
                    <div class="bpr-line">
                      <span>Youtube</span>
                      <input type="text" class="bpr-input bpr-soc" name="bpr-soc_yt"
                        value="{{ main_company.youtube_link }}" placeholder="http://">
                    </div>
                  </div>
                </div>



                <div class="bpr-row bpr-row-buttons">
                  <button class="bpr-btn" type="submit" title="Update Profile">Submit</button>
                </div>

              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}
</body>