{% extends 'home/base.html' %} {% block content %}
<style>
  .realestate-details {}

  .realestate-details h3 {
    margin-left: 40px;
    margin-top: 20px;
  }

  .realestate-details .table-attributes {
    margin-left: 20px;
  }

  .realestate-details .table-attributes table {
    width: 100%;
  }

  .realestate-details .row-title {
    width: 150px;
  }

  .realestate-details h4 {
    margin-left: 20px;
  }

  .realestate-details .list-other-attributes li {
    float: left;
    width: 140px;
  }

  .realestate-details .list-other-attributes img {
    height: 14px;
    width: 14px;
  }

  .realestate-details .clear {
    clear: both;
  }
</style>

<body id="user-dashboard" class="body-ua demo">
  {% include 'home/header.html' %}

  <div class="content loc-user sec-dashboard">
    <div id="breadcrumbs" class="container">
      <div class="bread-text">
        <ul class="breadcrumb" itemscope="" itemtype="http://schema.org/BreadcrumbList">
          <meta itemprop="name" content="Breadcrumb" />
          <li itemscope="" itemprop="itemListElement" itemtype="http://schema.org/ListItem" class="first-child">
            <a href="https://epsilon.mb-themes.com/" itemprop="item"><span itemprop="name" class="home"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" height="14" width="16">
                  <path d="M575.8 255.5C575.8 273.5 560.8 287.6 543.8 287.6H511.8L512.5 447.7C512.5 450.5 512.3 453.1 512 455.8V472C512 494.1 494.1 512 472 512H456C454.9 512 453.8 511.1 452.7 511.9C451.3 511.1 449.9 512 448.5 512H392C369.9 512 352 494.1 352 472V384C352 366.3 337.7 352 320 352H256C238.3 352 224 366.3 224 384V472C224 494.1 206.1 512 184 512H128.1C126.6 512 125.1 511.9 123.6 511.8C122.4 511.9 121.2 512 120 512H104C81.91 512 64 494.1 64 472V360C64 359.1 64.03 358.1 64.09 357.2V287.6H32.05C14.02 287.6 0 273.5 0 255.5C0 246.5 3.004 238.5 10.01 231.5L266.4 8.016C273.4 1.002 281.4 0 288.4 0C295.4 0 303.4 2.004 309.5 7.014L564.8 231.5C572.8 238.5 576.9 246.5 575.8 255.5L575.8 255.5z"></path>
                </svg>
                <span>Home</span></span></a>
            <meta itemprop="position" content="1" />
          </li>

          <li itemscope="" itemprop="itemListElement" itemtype="http://schema.org/ListItem" class="last-child">
            &gt;
            <span itemprop="name">Dashboard</span>
            <meta itemprop="position" content="2" />
          </li>
        </ul>
      </div>
    </div>

    <div id="flashbox" class="container">
      <div class="wrap">
        <div class="wrap2"></div>
      </div>
    </div>
    <div class="container primary">
      {% include 'account/user_menu.html' %}

      <div id="user-main">
        <div class="user-custom-box">
          <div id="bpr-prof" class="bpr-body bpr-prof">
            <div class="bpr-msg-wrap">
              <div class="bpr-msg">Your business profile is pending validation by admin</div>
            </div>

            <div class="bpr-inside">
              <h2>Company Profile</h2>

              <a class="bpr-show-profile" href="https://epsilon.mb-themes.com/company/mario">Show profile</a>

              <form class="nocsrf" method="POST" name="bpr_profile" id="bpr_profile" action="{%url 'companies:company_detail'%}" enctype="multipart/form-data">
                {% csrf_token %}

                <script>
                  $(document).ready(function () {
                    function handleFileChange(event, previewSelector) {
                      var files = event.target.files;
                      var allowedExtensions = ["jpeg", "jpg", "png", "gif"];

                      if (files && files.length) {
                        var fileExtension = files[0].name.split(".").pop().toLowerCase();
                        if (!allowedExtensions.includes(fileExtension)) {
                          alert("Only formats are allowed: " + allowedExtensions.join(", "));
                          return false;
                        }

                        var reader = new FileReader();
                        reader.onload = function (e) {
                          $(previewSelector).attr("src", e.target.result);
                        };
                        reader.readAsDataURL(files[0]);
                      }
                    }

                    $("#bpr-file-icon").on("change", function (event) {
                      handleFileChange(event, ".bpr-row-icon .bpr-preview img");
                    });

                    $("#bpr-file-cover").on("change", function (event) {
                      handleFileChange(event, ".bpr-row-cover .bpr-preview img");
                    });
                  });
                </script>

                <div class="bpr-row bpr-row-icon">
                  <div class="bpr-utitle">Company logo (100x100 px)</div>

                  <div class="bpr-inputs">
                    <div class="bpr-preview">
                      {% if main_company.logo %}
                      <img src="{{ main_company.logo.url }}" alt="Company Logo" />
                      {% else %}
                      <img src="https://epsilon.mb-themes.com/oc-content/plugins/business_profile/img/icon_default.png" alt="Default Logo" />
                      {% endif %}
                    </div>

                    <div class="bpr-attachment">
                      <div class="bpr-att-box">
                        <label class="bpr-status">
                          <span class="bpr-wrap"><i class="fa fa-paperclip"></i> <span>Upload your logo</span></span>
                          <input type="file" name="logo" id="bpr-file-icon" class="bpr-file-icon" />
                        </label>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="bpr-row bpr-row-cover">
                  <div class="bpr-utitle">Company cover (1600x600 px)</div>

                  <div class="bpr-inputs">
                    <div class="bpr-preview">
                      {% if main_company.cover_pic %}
                      <img src="{{ main_company.cover_pic.url }}" alt="Company Cover" />
                      {% else %}
                      <img src="https://epsilon.mb-themes.com/oc-content/plugins/business_profile/img/cover_default.jpg" alt="Default Cover" />
                      {% endif %}
                    </div>

                    <div class="bpr-attachment">
                      <div class="bpr-att-box">
                        <label class="bpr-status">
                          <span class="bpr-wrap"><i class="fa fa-paperclip"></i> <span>Upload your cover</span></span>
                          <input type="file" name="cover_pic" id="bpr-file-cover" class="bpr-file-cover" />
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Existing fields -->

                <!-- Name Field -->
                <div class="row">
                  <label for="name">Company Name <span class="req">*</span></label>
                  <div class="input-box">
                    <input id="name" type="text" name="name" value="{{ form.name.value|default_if_none:'' }}" />
                  </div>
                </div>

                <!-- About Field -->
                <div class="row">
                  <label for="about">About Company <span class="req">*</span></label>
                  <div class="input-box">
                    <textarea id="about" name="about">{{ form.about.value|default_if_none:'' }}</textarea>
                  </div>
                </div>

                <!-- Address Line1 Field -->
                <div class="row">
                  <label for="line1">Address Line 1</label>
                  <div class="input-box">
                    <input id="line1" type="text" name="line1" value="{{ form.line1.value|default_if_none:'' }}" />
                  </div>
                </div>

                <!-- City Field -->
                <div class="row">
                  <label for="city">City</label>
                  <div class="input-box">
                    <select id="city" name="city">
                      <option value="">Select City</option>
                      {% for city in form.city.field.queryset %}
                      <option value="{{ city.pk }}" {% if form.city.value == city.pk %}selected{% endif %}>{{ city.name }}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>

                <!-- Remaining fields and form submission button -->

                <div class="bpr-row bpr-row-cat">
                  <div class="bpr-utitle">Primary categories</div>
                  <div class="bpr-row-select-multiple">
                    <input type="hidden" name="bpr-category" id="bpr-category" />
                    <div class="bpr-select-cat">
                      {% for category in categories %}
                      {% if category.is_root_category %}
                      <div class="bpr-box-check bpr-check-parent" data-parent="0">
                        <input type="checkbox" name="working_categories" id="bpr-cat-{{ category.id }}" value="{{ category.id }}" {% if category.id in selected_category_ids %}checked{% endif %} />
                        <label for="bpr-cat-{{ category.id }}">{{ category.title }}</label>
                      </div>
                      {% for child in category.get_children %}
                      <div class="bpr-box-check bpr-check-child" data-parent="{{ category.id }}">
                        <input type="checkbox" name="working_categories" id="bpr-cat-{{ child.id }}" value="{{ child.id }}" {% if child.id in selected_category_ids %}checked{% endif %} />
                        <label for="bpr-cat-{{ child.id }}">{{ child.title }}</label>
                      </div>
                      {% endfor %}
                      {% endif %}
                      {% endfor %}
                    </div>

                  </div>
                </div>



                <div class="bpr-row bpr-row-oh">
                  <div class="bpr-utitle">Opening hours</div>
                  <div class="bpr-inputs">
                    {% for day, day_name in day_choices %}
                    <div class="bpr-line">
                      <span>{{ day_name }}</span>
                      <input type="text" class="bpr-input bpr-oh" name="bpr-oh_{{ forloop.counter }}" value="{% for schedule in branch.schedules.all %}{% if schedule.day == day %}{{ schedule.start_time|time:"H:i" }} - {{ schedule.end_time|time:"H:i" }}{% if not forloop.last %}, {% endif %}{% endif %}{% endfor %}" placeholder="From - To">
                    </div>
                    {% endfor %}
                  </div>
                </div>

                <div class="bpr-row bpr-row-sc">
                  <div class="bpr-utitle">Social network links</div>
                  <div class="bpr-inputs">
                    <!-- Facebook Link -->
                    <div class="bpr-line">
                      <span>Facebook</span>
                      {% if main_company %}
                      <input type="text" class="bpr-input bpr-soc" name="facebook_link" value="{{ form.facebook_link.value|default:main_company.facebook_link }}" placeholder="http://" />
                    {% endif %}
                    </div>
                    <!-- Twitter Link -->
                    <div class="bpr-line">
                      <span>Twitter</span>
                      {% if main_company %}
                      <input type="text" class="bpr-input bpr-soc" name="twitter_link" value="{{ form.twitter_link.value|default:main_company.twitter_link }}" placeholder="http://" />
                    {% endif %}
                    </div>
                    <!-- Youtube Link -->
                    <div class="bpr-line">
                      <span>Youtube</span>
                      {% if main_company %}
                      <input type="text" class="bpr-input bpr-soc" name="youtube_link" value="{{ form.youtube_link.value|default:main_company.youtube_link }}" placeholder="http://" />
                   {% endif %}
                    </div>
                    <!-- Instagram Link -->
                    <div class="bpr-line">
                      <span>Instagram</span>
                      {% if main_company %}
                      <input type="text" class="bpr-input bpr-soc" name="instagram_link" value="{{ form.instagram_link.value|default:main_company.instagram_link }}" placeholder="http://" />
                    {% endif %}
                    </div>
                  </div>
                </div>


                <div class="bpr-row bpr-row-buttons">
                  <button class="bpr-btn" type="submit" title="Update Profile">Submit</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}
</body>