{% extends 'home/base.html' %}
{% load static %}
{% block content %}
<!-- CSS and other existing HTML content -->

<body id="user-dashboard" class="body-ua demo">
  {% include 'home/header.html' %}

  <!-- Main Content -->
  <div class="content loc-user sec-dashboard">
    <!-- Breadcrumbs and other existing HTML content -->

    <div class="container primary">
      {% include 'account/user_menu.html' %}

      <div id="user-main">
        <div class="user-custom-box">

          <div id="bpr-prof" class="bpr-body bpr-prof">
            <h2>Create Company Profile</h2>

            <form method="POST" action="{% url 'companies:create_company' %}" enctype="multipart/form-data">
              {% csrf_token %}

              <!-- Company Logo -->
              <div class="bpr-row bpr-row-icon">
                <div class="bpr-utitle">Company logo (100x100 px)</div>
                <div class="bpr-inputs">
                  <input type="file" name="logo" id="bpr-file-icon" class="bpr-file-icon">
                </div>
              </div>

              <!-- Company Cover -->
              <div class="bpr-row bpr-row-cover">
                <div class="bpr-utitle">Company cover (1600x600 px)</div>
                <div class="bpr-inputs">
                  <input type="file" name="cover_pic" id="bpr-file-cover" class="bpr-file-cover">
                </div>
              </div>

              <!-- Company Name -->
              <div class="bpr-row"><div class="form-group" style="margin-bottom: 20px;"> <!-- Added a bottom margin for spacing -->
    <input type="text" name="name" placeholder="Company Name" class="form-control" value="{{ company_form.name.value }}">
</div></div>


<!-- About -->
<div class="bpr-row"><div class="form-group">
    <textarea name="about" placeholder="About" class="form-control" rows="4">{{ company_form.about.value }}</textarea>
</div>
</div>


              <!-- Social Network Links -->
              <div class="bpr-row bpr-row-sc">
                <div class="bpr-utitle">Social network links</div>
                <div class="bpr-inputs">
                  <input type="text" name="facebook_link" placeholder="Facebook URL" value="{{ company_form.facebook_link.value }}">
                  <input type="text" name="twitter_link" placeholder="Twitter URL" value="{{ company_form.twitter_link.value }}">
                  <input type="text" name="youtube_link" placeholder="Youtube URL" value="{{ company_form.youtube_link.value }}">
                  <input type="text" name="instagram_link" placeholder="Instagram URL" value="{{ company_form.instagram_link.value }}">
                </div>
              </div>

              <!-- Submit Button -->
              <div class="bpr-row bpr-row-buttons">
                <button type="submit" class="bpr-btn">Submit</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
</body>
