{% extends 'home/base.html' %} {% block content %} {% include 'home/header.html' %}
<body id="home" class="layout-default dvc-ios demo">
  <div class="form-container">
    <div class="form-container">
      <!-- Import Items Column -->
      <div class="import-items">
        <h2>Import Items</h2>
        <div class="custom-dropdown">
          <div class="dropdown-selected">
            <img src="https://via.placeholder.com/40" alt="Select Product" width="40" height="40" />
            <span>Select Product to Import</span>
          </div>
          <div class="dropdown-list">
            <!-- Dummy data for import items -->
            {% for product in products %}
            <div class="dropdown-item" onclick="selectDropdownItem(this, '{{ product.id }}', '{{ product.category.id }}', '{% if product.city %}{{ product.city.id }}{% else %}{% endif %}', '{% if product.address %}{{ product.address }}{% else %}{% endif %}')">
              <img src="https://via.placeholder.com/40" alt="Product Image" width="40" height="40" />
              <span>{{ product.title }}</span>
            </div>
            {% endfor %}
          </div>
        </div>
        <button type="button" class="btn-import">Import</button>
      </div>
      <div class="add-product-form">
        <h2>Add Product</h2>
        <form action="{% url 'product:create_or_import_product' pk=pk %}" method="post" enctype="multipart/form-data">
          {% csrf_token %}

          <div class="photo-upload-container">
            <label for="product_images" class="photo-upload-box">
              <div class="add-photo-text">
                <i class="fa fa-camera"></i>
                <span>Add Photo</span>
              </div>
            </label>
            <input type="file" id="product_images" name="product_images" multiple hidden />
            <div class="image-preview-container"></div>
          </div>

          <div class="form-group">
            <input type="text" name="{{ form.custom_title.name }}" placeholder="{{ form.custom_title.label }}" required />
          </div>

          <!-- Custom Description Field -->
          <div class="form-group full-width-textarea">
            <textarea name="{{ form.custom_description.name }}" placeholder="{{ form.custom_description.label }}" required></textarea>
          </div>

          <div class="form-group inline-group">
            <input type="number" name="{{ form.purchase_price.name }}" placeholder="{{ form.purchase_price.label }}" required />
            <input type="number" name="{{ form.opening_stock.name }}" placeholder="{{ form.opening_stock.label }}" required />
          </div>

          <!-- Inline Group for Low Stock Threshold and Current Stock -->
          <div class="form-group inline-group">
            <input type="number" name="{{ form.low_stock_threshold.name }}" placeholder="{{ form.low_stock_threshold.label }}" required />
            <input type="number" name="{{ form.current_stock.name }}" placeholder="{{ form.current_stock.label }}" required />
          </div>

          <!-- Category and City Dropdowns -->
          <div class="form-group inline-group">
            <!-- Category Dropdown -->
            <select name="{{ form.category.name }}" id="id_{{ form.category.name }}">
              <option value="">Select Category</option>
              {% for value, label in form.category.field.choices %}
              <option value="{{ value }}">{{ label }}</option>
              {% endfor %}
            </select>
            <!-- City Dropdown -->
            <select name="{{ form.city.name }}" id="id_{{ form.city.name }}">
              <option value="">Select City</option>
              {% for value, label in form.city.field.choices %}
              <option value="{{ value }}">{{ label }}</option>
              {% endfor %}
            </select>
          </div>

          <div class="form-group inline-group">
            <input type="number" name="sale_price" placeholder="Sale Price" required />
            <input type="number" name="purchase_price" placeholder="Purchase Price" required />
          </div>

          <div class="form-group inline-group">
            <input type="number" name="opening_stock" placeholder="Opening Stock" required />
            <input type="number" name="low_stock" placeholder="Low Stock" required />
          </div>

          <input type="submit" value="Add Product" />
        </form>
      </div>
    </div>
  </div>
  {% include 'home/footer.html' %} {% include 'home/mobile_bottom_bar.html' %} {% endblock %} {% block custom_js %}
  <script>
    document.querySelector("#product_images").addEventListener("change", function () {
      const files = this.files;
      const previewContainer = document.querySelector(".image-preview-container");

      Array.from(files).forEach((file, index) => {
        if (index < 15 - previewContainer.children.length) {
          // Limit total images to 15
          const imgElement = document.createElement("img");
          imgElement.src = URL.createObjectURL(file);

          const deleteIcon = document.createElement("span");
          deleteIcon.classList.add("delete-icon");
          deleteIcon.innerHTML = "&times;";
          deleteIcon.onclick = function () {
            URL.revokeObjectURL(imgElement.src); // Free up memory
            previewContainer.removeChild(imgContainer);
          };

          const imgContainer = document.createElement("div");
          imgContainer.classList.add("image-preview-box");
          imgContainer.appendChild(imgElement);
          imgContainer.appendChild(deleteIcon);
          previewContainer.appendChild(imgContainer);
        }
      });
    });

    // Function to handle dropdown selection
    function selectDropdownItem(element, productId, categoryId, cityId, address) {
      var selectedContainer = document.querySelector(".dropdown-selected");
      selectedContainer.innerHTML = element.innerHTML; // Copy the HTML of the selected item
      toggleDropdown(); // Close the dropdown

      // Set form fields based on selected product
      document.querySelector("[name='product_id']").value = productId;
      document.querySelector("[name='category']").value = categoryId;
      if (cityId) {
        document.querySelector("[name='city']").value = cityId;
      }
      document.querySelector("[name='address']").value = address;
    }

    // Function to toggle dropdown list visibility
    function toggleDropdown() {
      var dropdownList = document.querySelector(".dropdown-list");
      dropdownList.style.display = dropdownList.style.display === "none" ? "block" : "none";
    }

    // Event listener to open/close the custom dropdown
    document.querySelector(".dropdown-selected").addEventListener("click", toggleDropdown);

    // Get the selected product ID from the dropdown
    var productId = this.value;
    // Add an event listener to the Add Photo button
    const addImageButton = document.querySelector(".add-image");
    addImageButton.addEventListener("click", () => {
      // Get the file input element
      const productImageInput = document.querySelector("#product_image");

      // Click the file input element to open the file dialog
      productImageInput.click();
    });

    // Add an event listener to the file input element
    productImageInput.addEventListener("change", () => {
      // Get the selected file
      const file = productImageInput.files[0];

      // If a file is selected, preview it
      if (file) {
        const imagePreview = document.querySelector(".image-preview");
        imagePreview.src = URL.createObjectURL(file);
      }
    });

    // Add event listeners to the Change Image and Delete Image buttons
    const changeImageButton = document.querySelector(".change-image");
    const deleteImageButton = document.querySelector(".delete-image");

    changeImageButton.addEventListener("click", () => {
      // Click the file input element to open the file dialog
      productImageInput.click();
    });

    deleteImageButton.addEventListener("click", () => {
      // Clear the image preview
      const imagePreview = document.querySelector(".image-preview");
      imagePreview.src = "";

      // Clear the file input element
      productImageInput.value = "";
    });
  </script>

  {% endblock %}
</body>
