
<a class="card public" href="{% url 'companies:company-public' pk=company.pk %}">
  <div class="icon">
    <i class="far fa-address-card"></i>
  </div>

  <div class="header">Business profile</div>
  <div class="description">Your business profile visible to customers, where your information, address and listings are shown.</div>
</a>





{% if request.user.is_authenticated %}
    {% with request.user.owned_companies.first as company %}
        {% if company %}
            <a class="card public" href="{% url 'companies:company-public' pk=company.pk %}">
                <!-- Content of the link for company profile -->
            </a>
        {% endif %}
    {% endwith %}
    
    {% if not company %}
        <a class="card public" href="{% url 'companies:create_company' %}">
            <!-- Content of the link for creating a company -->
        </a>
    {% endif %}
{% else %}
    <a class="card public" href="{% url 'account:login' %}">
        <!-- Content of the link for login -->
    </a>
{% endif %}

<div class="icon">
    <i class="far fa-address-card"></i>
</div>
<div class="header">Business profile</div>
<div class="description">Your business profile visible to customers, where your information, address and listings are shown.</div>
