{% extends 'home/base.html' %} {% block content %}
<body id="user-login" class="pre-account login">
  {% include 'home/header.html' %}

  <div class="content loc-login sec-default">
    <!-- Breadcrumbs and other static content can stay the same as in your template -->

    <section class="container">
      <div class="box">
        <h1>Sign-in to your account</h1>

        <a class="alt-action" href="{% url 'account:register' %}">No account yet? Register a new account &#8594;</a>

        <form action="{% url 'account:login' %}" method="post">
          {% csrf_token %}

          <div class="row">
            <label for="mobile">Mobile Phone</label>
            <span class="input-box">
              <input id="mobile" type="text" name="mobile" value="" required placeholder="Your mobile number" />
            </span>
          </div>

          <div class="row">
            <label for="password">Password</label>
            <span class="input-box">
              <input id="password" type="password" name="password" value="" autocomplete="off" required placeholder="Your password" />
              <a href="#" class="toggle-pass" title="Show/hide password">
                <i class="fa fa-eye-slash"></i>
              </a>
            </span>
          </div>

          <div class="input-box-check">
            <input id="remember" type="checkbox" name="remember" value="1" />
            <label for="remember">Remember me</label>
          </div>

          <button type="submit" class="btn">Log in</button>

          <a class="alt-action2" href="#">I forgot my password</a>
        </form>
      </div>
    </section>
  </div>

  <section class="promo">
    <!-- Promo section can stay the same as in your template -->
  </section>

  {% include 'mobile_sidemenu.html' %}

  <script type="text/javascript">
    $(document).ready(function () {
      // Update placeholder attributes for mobile and password fields if needed
      // Other jQuery functionality can stay the same as in your template
    });
  </script>
</body>
{% endblock %}
