<div id="user-menu">
  <a href="{% url 'account:dashboard' %}" class="public">Public profile <i class="ext fas fa-external-link-alt"></i></a>

  <a href="{% url 'account:dashboard' %}" class="active">Dashboard</a>
  <a href="" class="has-counter"> Active listings <span class="counter">1</span> </a>

  <!-- Updated Link for Company Dashboard -->
  {% if companies.count > 0 %}
  <a href="{% url 'companies:company-dashboard' companies.first.pk %}" class="">Company Dashboard</a>
  {% else %}
  <a href="{% url 'companies:create_company' %}">Create Your Company</a>
  {% endif %}

  <a href="{%url 'account:user_profile' %}" class="">My Profile</a>
  {% comment %} {% if companies.count > 1 %}
  <a href="{% url 'companies:list-companies' %}" class="">My Companies</a>
  {% elif single_company %}
  <a href="{% url 'companies:company-public' single_company.pk %}" class="">My Company</a>
  {% else %} {% endif %} {% endcomment %}
  <div class="menu-hooks">
    <div class="menu-hooks">
      {% comment %}
      <li class="opt_user_offers">
        <a href=""><i class="fa fa-gavel"></i> Offers</a>
      </li>

      <li class="opt_instant_messenger">
        <a href=""><i class="fa fa-envelope-o"></i> Messages<span class="im-user-account-count im-count-0">0</span></a>
      </li>
      <li class="opt_user_rating">
        <a href=""><i class="fa fa-star"></i> Ratings</a>
      </li>
      {% endcomment %}
      <li class="opt_bpr_profile">
        <a href="{%url 'companies:company_detail' %}"><i class="fa fa-briefcase"></i> Business profile</a>
      </li>
    </div>

    <a href="{%url 'account:logout' %}" class="logout"><i class="fas fa-sign-out-alt"></i> Logout</a>
  </div>
</div>
