<div class="pos-inner-container">
  <h3 class="order-summary-title">Order Summary</h3>
  <div class="input-box">
    <select class="sPeriod" id="sPeriod" name="sPeriod" onchange="filterByPeriod()">
      <option value="" class="default-font font-size-15">All</option>
      <option value="1" class="default-font font-size-15">customer 1</option>
      <option value="7" class="default-font font-size-15">Customer 2</option>
      <option value="14" class="default-font font-size-15">Last 2 weeks</option>
      <option value="31" class="default-font font-size-15">Last month</option>
      <option value="365" class="default-font font-size-15">Last year</option>
    </select>
  </div>
  <div class="pos-item-container">