{% extends 'home/base.html' %} {% block content %}

<body id="public">
  {% include 'home/header.html' %}


  <div class="content loc-user sec-pub_profile">

    <div id="breadcrumbs" class="container">
      <div class="bread-text">
        <ul class="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
          <meta itemprop="name" content="Breadcrumb" />
          <li itemscope itemprop="itemListElement" itemtype="http://schema.org/ListItem" class="first-child"><a
              href=".{% url 'home:index' %}" itemprop="item"><span itemprop="name" class="home"><svg
                  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" height="14" width="16">
                  <path
                    d="M575.8 255.5C575.8 273.5 560.8 287.6 543.8 287.6H511.8L512.5 447.7C512.5 450.5 512.3 453.1 512 455.8V472C512 494.1 494.1 512 472 512H456C454.9 512 453.8 511.1 452.7 511.9C451.3 511.1 449.9 512 448.5 512H392C369.9 512 352 494.1 352 472V384C352 366.3 337.7 352 320 352H256C238.3 352 224 366.3 224 384V472C224 494.1 206.1 512 184 512H128.1C126.6 512 125.1 511.9 123.6 511.8C122.4 511.9 121.2 512 120 512H104C81.91 512 64 494.1 64 472V360C64 359.1 64.03 358.1 64.09 357.2V287.6H32.05C14.02 287.6 0 273.5 0 255.5C0 246.5 3.004 238.5 10.01 231.5L266.4 8.016C273.4 1.002 281.4 0 288.4 0C295.4 0 303.4 2.004 309.5 7.014L564.8 231.5C572.8 238.5 576.9 246.5 575.8 255.5L575.8 255.5z" />
                  </svg> <span>Home</span></span></a>
            <meta itemprop="position" content="1" />
          </li>

          <li itemscope itemprop="itemListElement" itemtype="http://schema.org/ListItem" class="last-child"> > <span
              itemprop="name">{{ user.full_name }}'s profile</span>
            <meta itemprop="position" content="2" />
          </li>
        </ul>
      </div>


      <div class="navlinks">
        <a href="johndoe.html" class="prev"><i class="fas fa-angle-left"></i> Previous</a> <a href="peterclark.html"
          class="next">Next <i class="fas fa-angle-right"></i></a> </div>
    </div>

    <div id="flashbox" class="container">
      <div class="wrap">
        <div class="wrap2"></div>
      </div>
    </div>
    <div class="container primary">
      <div id="item-side">
        <div class="box" id="seller">
          <div class="line1">
            <div class="img">
              <img src="../../oc-content/uploads/user-images/3_51u7v_20220323.png" alt="Sam Haghard" />

              <div class="online off" title="User is offline"></div>
            </div>

            <div class="data">
              <strong class="name">{{ user.full_name }}</strong>

              <div class="items">255 active listings</div>

            </div>
          </div>

          <div class="line-rating">
            <span class="ur-fdb">
              <span class="strs"><a
                  href="../../index014a.html?page=ajax&amp;action=runhook&amp;hook=ur_ajax_list&amp;userId=3&amp;itemId="
                  id="show-rating" class="show-rating show-stars" title="Click to show user reviews">
                  <div class="ur-rate ur-has-cl  color5"><span></span></div>
                  <div class="ur-rate ur-has-cl  color5"><span></span></div>
                  <div class="ur-rate ur-has-cl  color5"><span></span></div>
                  <div class="ur-rate ur-has-cl  color5"><span></span></div>
                  <div class="ur-rate ur-has-cl  color5"><span></span></div><span>5.0</span>
                </a></span>
              <span class="lnk"><a
                  href="../../indexd542.html?page=ajax&amp;action=runhook&amp;hook=ur_ajax_new_form&amp;userId=3&amp;itemId="
                  id="add-new-rating" class="add-new-rating ur-button">Rate this user</a></span>
            </span>
          </div>

          <div class="line2">
            <div class="date">Last online 4 months ago</div>
            <div class="reg">Registered for 1+ year</div>
          </div>


          <div class="line3">
            <div class="address"><i class="fas fa-map-marked-alt"></i> Baboszewo, Mazovia, Poland</div>

            <a class="phone-mobile phone masked" title="Click to see phone number" data-prefix="tel" href="#"
              data-part1="+822212" data-part2="3213">
              <i class="fas fa-phone-alt"></i>
              <span>+822212xxxx</span>
            </a>

            <a class="phone-land phone masked" title="Click to see phone number" data-prefix="tel" href="#"
              data-part1="+777213" data-part2="2133">
              <i class="fas fa-phone-alt"></i>
              <span>+777213xxxx</span>
            </a>
          </div>
        </div>

        <a href="../../item/send-friend/06891.html?type=contact_public&amp;userId=3"
          class="open-form public-contact master-button" data-type="contact_public">
          <i class="fas fa-envelope-open"></i>
          <span>Send message</span>
        </a>

        <a href="../../search/userId%2c3.html" class="seller-button seller-items">All seller items (255)</a>


        <div class="box" id="about">
          <strong>About seller</strong>
          <div>{{ user_profile.about }}
          </div>
        </div>


        <div class="box" id="share">
          <a class="whatsapp isMobile"
            href="whatsapp://send?text=https%3A%2F%2Fepsilon.mb-themes.com%2Fuser%2Fprofile%2Fsamhaghard"
            data-action="share/whatsapp/share"><i class="fab fa-whatsapp"></i> Whatsapp</a></span>
          <a class="facebook" title="Share on Facebook" target="_blank"
            href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fepsilon.mb-themes.com%2Fuser%2Fprofile%2Fsamhaghard"><i
              class="fab fa-facebook"></i> Facebook</a>
          <a class="twitter" title="Share on Twitter" target="_blank"
            href="https://twitter.com/intent/tweet?text=Public+profile+-+Sam+Haghard+-+Epsilon+Premium+Osclass+Classifieds+Theme&amp;url=https%3A%2F%2Fepsilon.mb-themes.com%2Fuser%2Fprofile%2Fsamhaghard"><i
              class="fab fa-twitter"></i> Twitter</a>
          <a class="pinterest" title="Share on Pinterest" target="_blank"
            href="https://pinterest.com/pin/create/button/?url=https%3A%2F%2Fepsilon.mb-themes.com%2Fuser%2Fprofile%2Fsamhaghard&amp;media=https://epsilon.mb-themes.com/oc-content/uploads/user-images/3_51u7v_20220323.png&amp;description=Public%20profile%20-%20Sam%20Haghard%20-%20Epsilon%20Premium%20Osclass%20Classifieds%20Theme"><i
              class="fab fa-pinterest"></i> Pinterest</a>
        </div>

        <div id="banner-theme" class="banner-theme banner-public_profile_sidebar not767 is-demo blank"
          title="You can define your own banner code from theme settings">
          <div class="myad">
            <div class="text">
              <div class="demo-text"><span>Banner space</span><strong>[public profile sidebar]</strong></div>
            </div>
          </div>
        </div>
      </div>


      <!-- LISTINGS OF SELLER -->
      <div id="public-main">
        <div id="banner-theme" class="banner-theme banner-public_profile_top not767 is-demo">
          <div class="myad">
            <div class="text"><a href="https://www.a2hosting.com/?aid=5ff74858d3bac&amp;bid=a3194333" target="_top"><img
                  src="../../../affiliates.a2hosting.com/accounts/default1/banners/a3194333.jpg" alt="" title=""
                  width="728" height="90" /></a><img style="border:0"
                src="https://affiliates.a2hosting.com/scripts/imp.php?aid=5ff74858d3bac&amp;bid=a3194333" width="1"
                height="1" alt="" /></div>
          </div>
        </div>
        <h1>{{ user.full_name }}'s listings</h1>

        <div class="products list">
          {% for product in products %}
          <div class="simple-prod o1 ">
            <div class="simple-wrap" title="">
              <div class="img-wrap">
                <a class="img" href="../../for-sale/electronics/samsung-s7-with-cover_i249.html">
                  <img class="lazy" src="../../oc-content/themes/epsilon/images/load-image.png"
                    data-src="https://epsilon.mb-themes.com/oc-content/uploads/2/985_thumbnail.jpg"
                    alt="Samsung S7 with cover" />
                </a>

                <a class="bar" href="../../for-sale/electronics/samsung-s7-with-cover_i249.html">
                  <div class="price isGrid isDetail"><span>{{product.price}} Rs.</span></div>

                  <div class="image-counter"><i class="fas fa-camera"></i> 4</div>
                </a>

                <a href="samhaghard.html" class="user-image isGrid isDetail">
                  <img class="lazy" src="../../oc-content/themes/epsilon/images/load-image.png"
                    data-src="https://epsilon.mb-themes.com/oc-content/uploads/user-images/3_51u7v_20220323.png"
                    alt="Sam Haghard" />


                </a>

                <div class="isGrid isDetail">
                  <div class="favorite"><a href="javascript://" class="fi_save_favorite fi_save fi_fav_249" rel="249"
                      title="Save to favorite"><i class="far fa-star"></i><span>Save to favorite</span></a></div>
                </div>


              </div>

              <div class="data">
                <div class="info">


                  {{product.city}} </div>

                <a class="title" href="../../for-sale/electronics/samsung-s7-with-cover_i249.html">{{product.title}}r</a>

                <div class="description isDetail">{{product.description}}.</div>

                <div class="price standalone isList"><span>{{product.price}} Rs.</span></div>

                <div class="extra">
                  <span>1 year ago</span>
                  <span>{{product.category}}</span>




                  <span>{{ product.view_count }} people viewed</span>
                </div>

                <div class="action isDetail">
                  <div class="price"><span>{{product.price}} Rs.</span></div>
                </div>


                <div class="contact isDetail">
                  <a class="contact" href="../../for-sale/electronics/samsung-s7-with-cover_i249.html#contact"><i
                      class="fas fa-envelope-open"></i> <span>Send message</span></a>


                </div>
              </div>

              <div class="right isList">
                <div class="price"><span>{{product.price}} Rs.</span></div>

                <div class="favorite"><a href="javascript://" class="fi_save_favorite fi_save fi_fav_249" rel="249"
                    title="Save to favorite"><i class="far fa-star"></i><span>Save to favorite</span></a></div>
              </div>

              <div class="labels isGrid">
              </div>
            </div>
          </div>
          {% empty %}
          <p>No products found for this user.</p>
          {% endfor %}


        </div>

        <div class="paginate">
          <ul>
            <li><span class="searchPaginationSelected list-first">1</span></li>
            <li><a href="samhagharda27c.html?iPage=2" class="searchPaginationNonSelected">2</a></li>
            <li><a href="samhaghard79fe.html?iPage=3" class="searchPaginationNonSelected">3</a></li>
            <li><a href="samhagharda27c.html?iPage=2" class="searchPaginationNext"><i
                  class="fas fa-angle-right"></i></a></li>
            <li><a href="samhaghard5fed.html?iPage=22" class="searchPaginationLast list-last"><i
                  class="fas fa-step-forward"></i></a></li>
          </ul>
        </div>


        <div id="banner-theme" class="banner-theme banner-public_profile_bottom not767 is-demo blank"
          title="You can define your own banner code from theme settings">
          <div class="myad">
            <div class="text">
              <div class="demo-text"><span>Banner space</span><strong>[public profile bottom]</strong></div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>


  {% include 'home/pro_seller.html' %}
  {% include 'home/footer.html' %}

  <div id="navi-bar" class="isMobile">
    <a href="../../index.html" class="l1 ">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" width="20" height="20">
        <path
          d="M570.24 247.41L323.87 45a56.06 56.06 0 0 0-71.74 0L5.76 247.41a16 16 0 0 0-2 22.54L14 282.25a16 16 0 0 0 22.53 2L64 261.69V448a32.09 32.09 0 0 0 32 32h128a32.09 32.09 0 0 0 32-32V344h64v104a32.09 32.09 0 0 0 32 32h128a32.07 32.07 0 0 0 32-31.76V261.67l27.53 22.62a16 16 0 0 0 22.53-2L572.29 270a16 16 0 0 0-2.05-22.59zM463.85 432H368V328a32.09 32.09 0 0 0-32-32h-96a32.09 32.09 0 0 0-32 32v104h-96V222.27L288 77.65l176 144.56z" />
        </svg>
      <span>Home</span>
    </a>

    <a href="../login.html" class="l2 ">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="20" height="20">
        <path
          d="M448 0H64C28.7 0 0 28.7 0 64v288c0 35.3 28.7 64 64 64h96v84c0 7.1 5.8 12 12 12 2.4 0 4.9-.7 7.1-2.4L304 416h144c35.3 0 64-28.7 64-64V64c0-35.3-28.7-64-64-64zm16 352c0 8.8-7.2 16-16 16H288l-12.8 9.6L208 428v-60H64c-8.8 0-16-7.2-16-16V64c0-8.8 7.2-16 16-16h384c8.8 0 16 7.2 16 16v288zm-96-216H144c-8.8 0-16 7.2-16 16v16c0 8.8 7.2 16 16 16h224c8.8 0 16-7.2 16-16v-16c0-8.8-7.2-16-16-16zm-96 96H144c-8.8 0-16 7.2-16 16v16c0 8.8 7.2 16 16 16h128c8.8 0 16-7.2 16-16v-16c0-8.8-7.2-16-16-16z" />
        </svg>



      <span>Messages</span>
    </a>

    <a href="../../item/new.html" class="post l3 ">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" width="20" height="20">
        <path
          d="M416 208H272V64c0-17.67-14.33-32-32-32h-32c-17.67 0-32 14.33-32 32v144H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h144v144c0 17.67 14.33 32 32 32h32c17.67 0 32-14.33 32-32V304h144c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z" />
        </svg>
    </a>

    <a href="../login.html" class="l4 favorite ">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" height="20" width="20">
        <path
          d="M287.9 0C297.1 0 305.5 5.25 309.5 13.52L378.1 154.8L531.4 177.5C540.4 178.8 547.8 185.1 550.7 193.7C553.5 202.4 551.2 211.9 544.8 218.2L433.6 328.4L459.9 483.9C461.4 492.9 457.7 502.1 450.2 507.4C442.8 512.7 432.1 513.4 424.9 509.1L287.9 435.9L150.1 509.1C142.9 513.4 133.1 512.7 125.6 507.4C118.2 502.1 114.5 492.9 115.1 483.9L142.2 328.4L31.11 218.2C24.65 211.9 22.36 202.4 25.2 193.7C28.03 185.1 35.5 178.8 44.49 177.5L197.7 154.8L266.3 13.52C270.4 5.249 278.7 0 287.9 0L287.9 0zM287.9 78.95L235.4 187.2C231.9 194.3 225.1 199.3 217.3 200.5L98.98 217.9L184.9 303C190.4 308.5 192.9 316.4 191.6 324.1L171.4 443.7L276.6 387.5C283.7 383.7 292.2 383.7 299.2 387.5L404.4 443.7L384.2 324.1C382.9 316.4 385.5 308.5 391 303L476.9 217.9L358.6 200.5C350.7 199.3 343.9 194.3 340.5 187.2L287.9 78.95z" />
        </svg>



      <span>Favorite</span>
    </a>

    <a class="l6 location " href="#">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 496 512" width="18" height="18">
        <path
          d="M347.94 129.86L203.6 195.83a31.938 31.938 0 0 0-15.77 15.77l-65.97 144.34c-7.61 16.65 9.54 33.81 26.2 26.2l144.34-65.97a31.938 31.938 0 0 0 15.77-15.77l65.97-144.34c7.61-16.66-9.54-33.81-26.2-26.2zm-77.36 148.72c-12.47 12.47-32.69 12.47-45.16 0-12.47-12.47-12.47-32.69 0-45.16 12.47-12.47 32.69-12.47 45.16 0 12.47 12.47 12.47 32.69 0 45.16zM248 8C111.03 8 0 119.03 0 256s111.03 248 248 248 248-111.03 248-248S384.97 8 248 8zm0 448c-110.28 0-200-89.72-200-200S137.72 56 248 56s200 89.72 200 200-89.72 200-200 200z" />
        </svg>

      <span>
        Location </span>
    </a>
  </div>

  <div id="body-banner" class="bleft">
    <div id="banner-theme" class="banner-theme banner-body_left not767 is-demo">
      <div class="myad">
        <div class="text"><a href="https://www.a2hosting.com/?aid=5ff74858d3bac&amp;bid=a504f205" target="_top"><img
              src="../../../affiliates.a2hosting.com/accounts/default1/9u7wabf7le4/a504f205.jpg" alt="" title=""
              width="160" height="600" /></a><img style="border:0"
            src="https://affiliates.a2hosting.com/scripts/9u7waif7le4?aid=5ff74858d3bac&amp;bid=a504f205" width="1"
            height="1" alt="" /></div>
      </div>
    </div>
  </div>

  <div id="body-banner" class="bright">
    <div id="banner-theme" class="banner-theme banner-body_right not767 is-demo">
      <div class="myad">
        <div class="text"><a href="https://www.a2hosting.com/?aid=5ff74858d3bac&amp;bid=a504f205" target="_top"><img
              src="../../../affiliates.a2hosting.com/accounts/default1/9u7wabf7le4/a504f205.jpg" alt="" title=""
              width="160" height="600" /></a><img style="border:0"
            src="https://affiliates.a2hosting.com/scripts/9u7waif7le4?aid=5ff74858d3bac&amp;bid=a504f205" width="1"
            height="1" alt="" /></div>
      </div>
    </div>
  </div>

  <a id="scroll-to-top"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512" width="20" height="20">
      <path
        d="M24 32h336c13.3 0 24 10.7 24 24v24c0 13.3-10.7 24-24 24H24C10.7 104 0 93.3 0 80V56c0-13.3 10.7-24 24-24zm232 424V320h87.7c17.8 0 26.7-21.5 14.1-34.1L205.7 133.7c-7.5-7.5-19.8-7.5-27.3 0L26.1 285.9C13.5 298.5 22.5 320 40.3 320H128v136c0 13.3 10.7 24 24 24h80c13.3 0 24-10.7 24-24z" />
      </svg></a>

  <div id="menu-cover" class="mobile-box">
    <svg class="close" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" width="32px" height="32px">
      <path fill="currentColor"
        d="M193.94 256L296.5 153.44l21.15-21.15c3.12-3.12 3.12-8.19 0-11.31l-22.63-22.63c-3.12-3.12-8.19-3.12-11.31 0L160 222.06 36.29 98.34c-3.12-3.12-8.19-3.12-11.31 0L2.34 120.97c-3.12 3.12-3.12 8.19 0 11.31L126.06 256 2.34 379.71c-3.12 3.12-3.12 8.19 0 11.31l22.63 22.63c3.12 3.12 8.19 3.12 11.31 0L160 289.94 262.56 392.5l21.15 21.15c3.12 3.12 8.19 3.12 11.31 0l22.63-22.63c3.12-3.12 3.12-8.19 0-11.31L193.94 256z"
        class=""></path>
    </svg>
  </div>

  {% include 'mobile_sidemenu.html' %}


  {% endblock %}