{%load static %}
<footer class="default-font font-size-15">
  <div class="container" class="default-font font-size-15">
    <section class="one" class="default-font font-size-15">
      <div class="col contact" class="default-font font-size-15">
        <h4 class="default-font font-size-18">About us</h4>

        <p class="logo default-font font-size-15">
          <img src="{% static 'icons/channab_logo-min.png' %}" alt="Channab - Pakistan's Largest Marketplace" class="default-font font-size-15" />
        </p>
        <p class="company default-font font-size-15">
          <strong class="default-font font-size-15">Channab</strong>
        </p>

        <p class="default-font font-size-15">Email: info@channab.com</p>

        <div class="quick-links" class="default-font font-size-15">
          <a class="btn-mini" href="#" class="default-font font-size-12">Messages</a>

          <a class="btn-mini" href="#" class="default-font font-size-12">Favorite</a>

          <a class="btn-mini" href="#" class="default-font font-size-12">Companies</a>

          <a class="btn-mini" href="#" class="default-font font-size-12">Blog</a>

          <a class="btn-mini" href="#" class="default-font font-size-12">FAQ</a>
        </div>
      </div>

      <div class="col socialx" class="default-font font-size-15">
        <h4 class="default-font font-size-18">Social media</h4>

        <a class="whatsapp" href="https://wa.me/your_whatsapp_number" class="default-font font-size-15"> <i class="fab fa-whatsapp" speechify-initial-font-family='"Font Awesome 5 Brands"' speechify-initial-font-size="15px"></i> Whatsapp </a>
        <a class="facebook" href="https://www.facebook.com/channab02" target="_blank" class="default-font font-size-15"> <i class="fab fa-facebook-f" speechify-initial-font-family='"Font Awesome 5 Brands"' speechify-initial-font-size="15px"></i> Facebook </a>
        <a class="pinterest" href="https://www.pinterest.com/your_pinterest_profile" target="_blank" class="default-font font-size-15"> <i class="fab fa-pinterest-p" speechify-initial-font-family='"Font Awesome 5 Brands"' speechify-initial-font-size="15px"></i> Pinterest </a>
        <a class="twitter" href="https://twitter.com/your_twitter_handle" target="_blank" class="default-font font-size-15"> <i class="fab fa-twitter" speechify-initial-font-family='"Font Awesome 5 Brands"' speechify-initial-font-size="15px"></i> Twitter </a>
        <a class="linkedin" href="https://www.linkedin.com/in/your_linkedin_profile" target="_blank" class="default-font font-size-15"> <i class="fab fa-linkedin" speechify-initial-font-family='"Font Awesome 5 Brands"' speechify-initial-font-size="15px"></i> LinkedIn </a>
      </div>

      <div class="col pages" class="default-font font-size-15">
        <h4 class="default-font font-size-18">Information</h4>
        <a href="{% url 'companies:create_company' %}" class="default-font font-size-15">List Your Business</a>
        <a href="{% url 'home:terms-conditions' %}" class="default-font font-size-15">Terms and Conditions</a>
        <a href="{% url 'home:privacy-policy' %}" class="default-font font-size-15">Privacy Policy</a>
        <a href="{% url 'home:legal-notice' %}" class="default-font font-size-15">Legal Notice</a>
        <a href="#" class="default-font font-size-15">How promotion works</a>
      </div>

      <div class="col categories" class="default-font font-size-15">
        <h4 class="default-font font-size-18">Top Categories</h4>

        {% for category in categories|slice:":5" %}
        <a class="category-link" href="{% url 'product:product_list_by_category' category.slug %}" class="default-font font-size-15">
          <span class="default-font font-size-15">{{ category.title }}</span>
        </a>
        {% endfor %}
      </div>

      <div class="footer-hook" class="default-font font-size-15">
        <script type="application/ld+json" class="default-font font-size-15">
          {
            "@context": "http://schema.org/",
            "@type": "Organization",
            "name": "Epsilon Premium Osclass Classifieds Theme",
            "url": "https://epsilon.mb-themes.com/"
          }
        </script>

        <script type="text/javascript" class="default-font font-size-15">
          var fi_favorite_url = "https://epsilon.mb-themes.com/index.php?page=ajax&action=custom&ajaxfile=favorite_items/ajax.php";
          var fi_empty = "You do not have any favorite listings";
        </script>
        <script type="text/javascript" class="default-font font-size-15">
          $(".flashmessage .ico-close").click(function () {
            $(this).parent().hide();
          });
        </script>
        <script type="text/javascript" class="default-font font-size-15">
          var faqBaseUrl = "https://epsilon.mb-themes.com/";
        </script>
        <div style="display: none" id="mo-fancy-dialog" class="default-font font-size-15"></div>
        <div style="display: none" id="mo-fancy-overlay" class="default-font font-size-15"></div>
        <script type="text/javascript" class="default-font font-size-15">
          var moValidPriceReq = "Price: This field is required.";
          var moValidNameReq = "Name: This field is required.";
          var moValidNameShort = "Name: Name is too short.";
          var moValidEmailReq = "Email: This field is required.";
          var moValidEmailShort = "Email: Not valid email format.";
          var moYourReply = "Your reply";
        </script>
      </div>
      <div class="footer-widgets" class="default-font font-size-15"></div>
    </section>

    <section class="two" class="default-font font-size-13">
      <a href="#" class="default-font font-size-13">Contact us</a>

      <a href="#" class="default-font font-size-13">Channab Pakistan</a>

      <span class="default-font font-size-13">Copyright © 2023 Channab Pakistan All rights reserved.</span>
    </section>
  </div>
</footer>
