{%load static %}
<header class="default-font font-size-14">
  <div class="container cmain" class="default-font font-size-14">
    <a class="menu btn btn-white isMobile" href="#" class="default-font font-size-14">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" width="20" height="20" class="default-font font-size-14">
        <path d="M0 96C0 78.33 14.33 64 32 64H416C433.7 64 448 78.33 448 96C448 113.7 433.7 128 416 128H32C14.33 128 0 113.7 0 96zM0 256C0 238.3 14.33 224 32 224H416C433.7 224 448 238.3 448 256C448 273.7 433.7 288 416 288H32C14.33 288 0 273.7 0 256zM416 448H32C14.33 448 0 433.7 0 416C0 398.3 14.33 384 32 384H416C433.7 384 448 398.3 448 416C448 433.7 433.7 448 416 448z" class="default-font font-size-14"></path>
      </svg>
    </a>

<a href="{% url 'home:index' %}" class="logo default-font font-size-18">
  <img src="{% static 'icons/channab_logo-min.png' %}" alt="Channab - Pakistan's Largest Marketplace" class="default-font font-size-18" />
</a>

    <div class="links" class="default-font font-size-14">
      <a class="publish btn" href="{%url 'product:add_product' %}" class="default-font font-size-16">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" width="24" height="24" class="default-font font-size-16">
          <path d="M352 240v32c0 6.6-5.4 12-12 12h-88v88c0 6.6-5.4 12-12 12h-32c-6.6 0-12-5.4-12-12v-88h-88c-6.6 0-12-5.4-12-12v-32c0-6.6 5.4-12 12-12h88v-88c0-6.6 5.4-12 12-12h32c6.6 0 12 5.4 12 12v88h88c6.6 0 12 5.4 12 12zm96-160v352c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V80c0-26.5 21.5-48 48-48h352c26.5 0 48 21.5 48 48zm-48 346V86c0-3.3-2.7-6-6-6H54c-3.3 0-6 2.7-6 6v340c0 3.3 2.7 6 6 6h340c3.3 0 6-2.7 6-6z" class="default-font font-size-16"></path>
        </svg>
        Place an ad
      </a>

      <a class="publish btn mini" href="{%url 'product:add_product' %}" class="default-font font-size-14">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" width="20" height="20" class="default-font font-size-14">
          <path d="M416 208H272V64c0-17.67-14.33-32-32-32h-32c-17.67 0-32 14.33-32 32v144H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h144v144c0 17.67 14.33 32 32 32h32c17.67 0 32-14.33 32-32V304h144c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z" class="default-font font-size-14"></path>
        </svg>
      </a>
      {% if request.user.is_authenticated %}
    <a class="account btn btn-white" href="{% url 'account:dashboard' %}">
        {% if request.user.userprofile.profile_picture %}
            <img src="{{ request.user.userprofile.profile_picture.url }}" alt="{{ request.user.full_name }}" width="32" height="32">
        {% else %}
            <img src="default-image-url.jpg" alt="Default Image" width="32" height="32">
        {% endif %}
        My Account
 

      <a class="account btn btn-white" href="{% url 'account:dashboard' %}">

        {% else %}

        <a class="account btn btn-white" href="{% url 'account:login' %}" class="default-font font-size-14">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 496 512" width="18" height="18" class="default-font font-size-14">
            <path d="M248 104c-53 0-96 43-96 96s43 96 96 96 96-43 96-96-43-96-96-96zm0 144c-26.5 0-48-21.5-48-48s21.5-48 48-48 48 21.5 48 48-21.5 48-48 48zm0-240C111 8 0 119 0 256s111 248 248 248 248-111 248-248S385 8 248 8zm0 448c-49.7 0-95.1-18.3-130.1-48.4 14.9-23 40.4-38.6 69.6-39.5 20.8 6.4 40.6 9.6 60.5 9.6s39.7-3.1 60.5-9.6c29.2 1 54.7 16.5 69.6 39.5-35 30.1-80.4 48.4-130.1 48.4zm162.7-84.1c-24.4-31.4-62.1-51.9-105.1-51.9-10.2 0-26 9.6-57.6 9.6-31.5 0-47.4-9.6-57.6-9.6-42.9 0-80.6 20.5-105.1 51.9C61.9 339.2 48 299.2 48 256c0-110.3 89.7-200 200-200s200 89.7 200 200c0 43.2-13.9 83.2-37.3 115.9z" class="default-font font-size-14"></path>
          </svg>

          Sign in / Register
        </a>
        {% endif %}

        <a class="maccount btn btn-white isMobile" href="{%url 'account:dashboard' %}" class="default-font font-size-14">
          <img src="https://epsilon.mb-themes.com/oc-content/themes/epsilon/images/default-user-image.png" alt="Non-logged user" width="36" height="36" class="default-font font-size-14" />
        </a>

        <a class="location btn btn-white" href="#" class="default-font font-size-14">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 496 512" width="18" height="18" class="default-font font-size-14">
            <path d="M347.94 129.86L203.6 195.83a31.938 31.938 0 0 0-15.77 15.77l-65.97 144.34c-7.61 16.65 9.54 33.81 26.2 26.2l144.34-65.97a31.938 31.938 0 0 0 15.77-15.77l65.97-144.34c7.61-16.66-9.54-33.81-26.2-26.2zm-77.36 148.72c-12.47 12.47-32.69 12.47-45.16 0-12.47-12.47-12.47-32.69 0-45.16 12.47-12.47 32.69-12.47 45.16 0 12.47 12.47 12.47 32.69 0 45.16zM248 8C111.03 8 0 119.03 0 256s111.03 248 248 248 248-111.03 248-248S384.97 8 248 8zm0 448c-110.28 0-200-89.72-200-200S137.72 56 248 56s200 89.72 200 200-89.72 200-200 200z" class="default-font font-size-14"></path>
          </svg>

          {{ selected_city }}
        </a>

        <a class="search btn btn-white isMobile" href="0" class="default-font font-size-14">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="18" height="18" class="default-font font-size-14">
            <path d="M500.3 443.7l-119.7-119.7c27.22-40.41 40.65-90.9 33.46-144.7C401.8 87.79 326.8 13.32 235.2 1.723C99.01-15.51-15.51 99.01 1.724 235.2c11.6 91.64 86.08 166.7 177.6 178.9c53.8 7.189 104.3-6.236 144.7-33.46l119.7 119.7c15.62 15.62 40.95 15.62 56.57 0C515.9 484.7 515.9 459.3 500.3 443.7zM79.1 208c0-70.58 57.42-128 128-128s128 57.42 128 128c0 70.58-57.42 128-128 128S79.1 278.6 79.1 208z" class="default-font font-size-14"></path>
          </svg>
        </a>

        <a class="messages btn btn-white" href="#" class="default-font font-size-14">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="18" height="18" class="default-font font-size-14">
            <path d="M448 0H64C28.7 0 0 28.7 0 64v288c0 35.3 28.7 64 64 64h96v84c0 7.1 5.8 12 12 12 2.4 0 4.9-.7 7.1-2.4L304 416h144c35.3 0 64-28.7 64-64V64c0-35.3-28.7-64-64-64zm16 352c0 8.8-7.2 16-16 16H288l-12.8 9.6L208 428v-60H64c-8.8 0-16-7.2-16-16V64c0-8.8 7.2-16 16-16h384c8.8 0 16 7.2 16 16v288zm-96-216H144c-8.8 0-16 7.2-16 16v16c0 8.8 7.2 16 16 16h224c8.8 0 16-7.2 16-16v-16c0-8.8-7.2-16-16-16zm-96 96H144c-8.8 0-16 7.2-16 16v16c0 8.8 7.2 16 16 16h128c8.8 0 16-7.2 16-16v-16c0-8.8-7.2-16-16-16z" class="default-font font-size-14"></path>
          </svg>
          Messages
        </a>

       

        <div class="divider" class="default-font font-size-14">&nbsp;</div>

        <a class="company btn btn-white noicon" href="{%url 'companies:list-companies'%}" class="default-font font-size-14">Companies</a>


        <a class="faq btn btn-white noicon" href="{%url 'product:product_list'%}" class="default-font font-size-14">All Prodcuts</a>
    </div>
  </div>

  <div class="container alt csearch" style="display: none" class="default-font font-size-14">
    <a href="#" class="back btn btn-white" class="default-font font-size-16"><i class="fas fa-chevron-left" speechify-initial-font-family='"Font Awesome 5 Free"' speechify-initial-font-size="16px"></i></a>

    <form action="https://epsilon.mb-themes.com/index.php" method="GET" class="nocsrf" class="default-font font-size-14">
      <input type="hidden" name="page" value="search" class="default-font font-size-15" />

      <div class="picker pattern mobile" class="default-font font-size-14">
        <div class="input-box" class="default-font font-size-14">
          <input type="text" name="sPattern" class="pattern" placeholder="Enter keyword..." value="" autocomplete="off" class="default-font font-size-15" />
          <i class="clean fas fa-times-circle" speechify-initial-font-family='"Font Awesome 5 Free"' speechify-initial-font-size="16px"></i>
        </div>

        <div class="results" class="default-font font-size-14" style="overflow: hidden; display: none">
          <div class="loaded" class="default-font font-size-14"></div>
          <div class="default" class="default-font font-size-14">
            <div class="row minlength" class="default-font font-size-13">
              <em class="default-font font-size-13">Enter <span class="min" class="default-font font-size-13">2</span> more character(s) to search...</em>
            </div>
            <div class="row cities locations" class="default-font font-size-14">
              <div class="lead" class="default-font font-size-13">Popular cities</div>
              <a class="option direct" href="https://epsilon.mb-themes.com/ireton-c6862204" data-city="6862204" class="default-font font-size-15">Ireton, Iowa <em class="default-font font-size-11">253 items</em></a><a class="option direct" href="https://epsilon.mb-themes.com/kerens-c6703063" data-city="6703063" class="default-font font-size-15">Kerens, Texas <em class="default-font font-size-11">97 items</em></a><a class="option direct" href="https://epsilon.mb-themes.com/audubon-c6500572" data-city="6500572" class="default-font font-size-15">Audubon, New Jersey <em class="default-font font-size-11">3 items</em></a><a class="option direct" href="https://epsilon.mb-themes.com/atlantic-highlands-c7095312" data-city="7095312" class="default-font font-size-15">Atlantic Highlands, New Jersey
                <em class="default-font font-size-11">2 items</em></a><a class="option direct" href="https://epsilon.mb-themes.com/borkowice-c9532517" data-city="9532517" class="default-font font-size-15">Borkowice, Mazovia <em class="default-font font-size-11">1 item</em></a><a class="option direct" href="https://epsilon.mb-themes.com/alice-c6670234" data-city="6670234" class="default-font font-size-15">Alice, Texas <em class="default-font font-size-11">1 item</em></a>
            </div>
          </div>
        </div>
      </div>

      <button class="btn" type="submit" class="default-font font-size-16"><i class="fa fa-search" speechify-initial-font-family='"Font Awesome 5 Free"' speechify-initial-font-size="16px"></i></button>
    </form>
  </div>
</header>