<div class="box language" data-box="language">
  <div class="nav">
    <a href="#" class="back"><i class="fas fa-chevron-left"></i></a>
    <span>Select language</span>
  </div>

  <div class="section">
    <a class="lang" href="vehicles.html">
      <img src="oc-content/themes/epsilon/images/country_flags/large/sy.png" alt="Country flag" />
      <span>Arabic&#x200E;</span>
    </a>
    <a class="lang" href="vehicles.html">
      <img src="oc-content/themes/epsilon/images/country_flags/large/cn.png" alt="Country flag" />
      <span>Chinese (China)&#x200E;</span>
    </a>
    <a class="lang active" href="vehicles.html">
      <img src="oc-content/themes/epsilon/images/country_flags/large/us.png" alt="Country flag" />
      <span>English (US)&#x200E;</span>
    </a>
    <a class="lang" href="vehicles.html">
      <img src="oc-content/themes/epsilon/images/country_flags/large/ro.png" alt="Country flag" />
      <span>Romanian&#x200E;</span>
    </a>
    <a class="lang" href="vehicles.html">
      <img src="oc-content/themes/epsilon/images/country_flags/large/ru.png" alt="Country flag" />
      <span>Russian&#x200E;</span>
    </a>
  </div>
</div>
