{% load static %}
<section class="home-latest" class="default-font font-size-14">
  <div class="container" class="default-font font-size-14">
    <div class="block" class="default-font font-size-14">
      <h2 class="default-font font-size-22">Latest listings</h2>

      <div id="latest-items" class="products grid" class="default-font font-size-14">
        {% for product in products_list %}

        <div class="simple-prod o7 medium" class="default-font font-size-14">
          <div class="simple-wrap" title="" class="default-font font-size-14">
            <div class="img-wrap" class="default-font font-size-14">
              <a class="img" href="{% url 'product:product_detail' pk=product.pk %}" class="default-font font-size-14">
                {% if product.images.all %}
                <img class="lazy" src="{{ product.images.all.0.image.url }}" data-src="{{ product.images.all.0.image.url }}" alt="{{ product.title }}" class="default-font font-size-14" />
                {% else %}
                <img class="lazy" src="{% static 'icons/default_cover.png' %}" alt="Default Image" class="default-font font-size-14" />
                {% endif %}
              </a>

              <a class="bar" href="{% url 'product:product_detail' pk=product.pk %}" class="default-font font-size-17">
                <div class="price isGrid isDetail" class="default-font font-size-17"><span class="default-font font-size-17">{{product.price}} Rs.</span></div>

                <div class="image-counter" class="default-font font-size-13"><i class="fas fa-camera" speechify-initial-font-family='"Font Awesome 5 Free"' speechify-initial-font-size="11px"></i> {{ product.images_count }}</div>
              </a>

              <a href="https://epsilon.mb-themes.com/user/profile/johndoe" class="user-image isGrid isDetail" class="default-font font-size-14">
                <img class="lazy loaded" src="https://epsilon.mb-themes.com/oc-content/uploads/user-images/2_Wp30T_20220323.png" alt="John Doe" style="display: block; transition: all 0.2s ease 0s" class="default-font font-size-14" />
              </a>

              <div class="isGrid isDetail" class="default-font font-size-14">
                <div class="favorite" class="default-font font-size-14">
                  <a href="javascript://" class="fi_save_favorite fi_save fi_fav_277" rel="277" title="Remove from favorites" class="default-font font-size-14"><i class="far fa-star" speechify-initial-font-family='"Font Awesome 5 Free"' speechify-initial-font-size="17px"></i><span class="default-font font-size-14">Remove from favorites</span></a>
                </div>
              </div>
            </div>

            <div class="data" class="default-font font-size-14">
              <div class="info" class="default-font font-size-12">{{product.city}}</div>

              <a class="title" href="{% url 'product:product_detail' pk=product.pk %}" class="default-font font-size-15">{{product.title}}</a>

              <div class="description isDetail" class="default-font font-size-13">{{product.description}}</div>

              <div class="price standalone isList" class="default-font font-size-14"><span class="default-font font-size-14">78900.00 $</span></div>

              <div class="extra" class="default-font font-size-14">
                <span class="default-font font-size-14">1 year ago</span>
                <span class="default-font font-size-14">Cars</span>

                <span class="default-font font-size-14">1211 people viewed</span>
              </div>

              <div class="action isDetail" class="default-font font-size-14">
                <div class="price" class="default-font font-size-16"><span class="default-font font-size-16">78900.00 $</span></div>
              </div>

              <div class="contact isDetail" class="default-font font-size-14">
                <a class="contact" href="https://epsilon.mb-themes.com/vehicles/cars/bmw-q7-2019_i277#contact" class="default-font font-size-14"><i class="fas fa-envelope-open" speechify-initial-font-family='"Font Awesome 5 Free"' speechify-initial-font-size="14px"></i> <span class="default-font font-size-14">Send message</span></a>
              </div>
            </div>

            <div class="right isList" class="default-font font-size-14">
              <div class="price" class="default-font font-size-17"><span class="default-font font-size-17">78900.00 $</span></div>

              <div class="favorite" class="default-font font-size-14">
                <a href="javascript://" class="fi_save_favorite fi_save fi_fav_277" rel="277" title="Remove from favorites" class="default-font font-size-14"><i class="far fa-star" speechify-initial-font-family='"Font Awesome 5 Free"' speechify-initial-font-size="17px"></i><span class="default-font font-size-14">Remove from favorites</span></a>
              </div>
            </div>

            <div class="labels isGrid" class="default-font font-size-14"></div>
          </div>
        </div>
        {% endfor %} {% comment %}
        <div class="simple-prod o8 medium st-sold" class="default-font font-size-14">
          <div class="simple-wrap" title="Sold" class="default-font font-size-14">
            <div class="img-wrap" class="default-font font-size-14">
              <a class="img" href="https://epsilon.mb-themes.com/vehicles/cars/maserati-one-z9_i289" class="default-font font-size-14">
                <img class="lazy" src="https://epsilon.mb-themes.com/oc-content/themes/epsilon/images/load-image.png" data-src="https://epsilon.mb-themes.com/oc-content/uploads/2/1146_thumbnail.jpg" alt="Maserati One Z9" class="default-font font-size-14" />
              </a>

              <a class="bar" href="https://epsilon.mb-themes.com/vehicles/cars/maserati-one-z9_i289" class="default-font font-size-17">
                <div class="price isGrid isDetail" class="default-font font-size-17"><span class="default-font font-size-17">128500.00 $</span></div>

                <div class="image-counter" class="default-font font-size-13"><i class="fas fa-camera" speechify-initial-font-family='"Font Awesome 5 Free"' speechify-initial-font-size="11px"></i> 4</div>
              </a>

              <a href="https://epsilon.mb-themes.com/user/profile/johndoe" class="user-image isGrid isDetail" class="default-font font-size-14">
                <img class="lazy loaded" src="https://epsilon.mb-themes.com/oc-content/uploads/user-images/2_Wp30T_20220323.png" alt="John Doe" style="display: block; transition: all 0.2s ease 0s" class="default-font font-size-14" />
              </a>

              <div class="isGrid isDetail" class="default-font font-size-14">
                <div class="favorite" class="default-font font-size-14">
                  <a href="javascript://" class="fi_save_favorite fi_save fi_fav_289" rel="289" title="Remove from favorites" class="default-font font-size-14"><i class="far fa-star" speechify-initial-font-family='"Font Awesome 5 Free"' speechify-initial-font-size="17px"></i><span class="default-font font-size-14">Remove from favorites</span></a>
                </div>
              </div>
            </div>

            <div class="data" class="default-font font-size-14">
              <div class="info" class="default-font font-size-12">
                <span class="label sold isList" class="default-font font-size-12">Sold</span>

                Atlantic Highlands, United States
              </div>

              <a class="title" href="https://epsilon.mb-themes.com/vehicles/cars/maserati-one-z9_i289" class="default-font font-size-15">Maserati One Z9</a>

              <div class="description isDetail" class="default-font font-size-13">Duis auctor nisl sed libero interdum, vel vulputate diam iaculis. Sed ultricies odio ac odio facilisis imperdiet. In posuere nisl est, sit amet semper lacus sagittis id. Aliquam justo augue, ullamcorper non augue sed, aliquam egestas velit. Fusce lacus tellus, faucibus at dui vel, efficitur venenatis enim. Curabitur fringilla viverra dolor, at sodales eros v...</div>

              <div class="price standalone isList" class="default-font font-size-14"><span class="default-font font-size-14">128500.00 $</span></div>

              <div class="extra" class="default-font font-size-14">
                <span class="default-font font-size-14">1 year ago</span>
                <span class="default-font font-size-14">Cars</span>

                <span class="default-font font-size-14">1571 people viewed</span>
              </div>

              <div class="action isDetail" class="default-font font-size-14">
                <div class="price" class="default-font font-size-16"><span class="default-font font-size-16">128500.00 $</span></div>
              </div>

              <div class="labels isDetail" class="default-font font-size-14">
                <span class="label sold" class="default-font font-size-12">Sold</span>
              </div>

              <div class="contact isDetail" class="default-font font-size-14">
                <a class="contact" href="https://epsilon.mb-themes.com/vehicles/cars/maserati-one-z9_i289#contact" class="default-font font-size-14"><i class="fas fa-envelope-open" speechify-initial-font-family='"Font Awesome 5 Free"' speechify-initial-font-size="14px"></i> <span class="default-font font-size-14">Send message</span></a>
              </div>
            </div>

            <div class="right isList" class="default-font font-size-14">
              <div class="price" class="default-font font-size-17"><span class="default-font font-size-17">128500.00 $</span></div>

              <div class="favorite" class="default-font font-size-14">
                <a href="javascript://" class="fi_save_favorite fi_save fi_fav_289" rel="289" title="Remove from favorites" class="default-font font-size-14"><i class="far fa-star" speechify-initial-font-family='"Font Awesome 5 Free"' speechify-initial-font-size="17px"></i><span class="default-font font-size-14">Remove from favorites</span></a>
              </div>
            </div>

            <div class="labels isGrid" class="default-font font-size-14">
              <span class="label sold" class="default-font font-size-12">Sold</span>
            </div>
          </div>
        </div>
        {% endcomment %}
      </div>
    </div>
  </div>
</section>
