<section class="home-favorite" class="default-font font-size-14">
    <div class="container" class="default-font font-size-14">
      <div class="block" class="default-font font-size-14">
        <h2 class="default-font font-size-22">
          <span class="default-font font-size-22">Most favorited listings</span>

          <a href="https://epsilon.mb-themes.com/fi-favorite-items" class="btn btn-secondary mini" class="default-font font-size-14">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" width="18" height="18" class="default-font font-size-14"><path d="M528.1 171.5L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6zM388.6 312.3l23.7 138.4L288 385.4l-124.3 65.3 23.7-138.4-100.6-98 139-20.2 62.2-126 62.2 126 139 20.2-100.6 98z" class="default-font font-size-14"></path></svg>
            Manage your favorites (0)
          </a>
        </h2>

        <div class="nice-scroll-wrap nice-scroll-nothave-overflow" class="default-font font-size-14">
          <div class="nice-scroll-prev" class="default-font font-size-14"><i class="fas fa-caret-left" speechify-initial-font-family='"Font Awesome 5 Free"' speechify-initial-font-size="20px"></i></div>

          <div id="favorite-items" class="products grid nice-scroll no-visible-scroll" class="default-font font-size-14">
            <div class="simple-prod o1 is-premium wide" class="default-font font-size-14">
              <div class="simple-wrap" title="" class="default-font font-size-14">
                <div class="img-wrap" class="default-font font-size-14">
                  <a class="img" href="https://epsilon.mb-themes.com/for-sale/electronics/new-iphone-xs-2019_i63" class="default-font font-size-14">
                    <img class="lazy loaded" src="https://epsilon.mb-themes.com/oc-content/uploads/0/244_thumbnail.jpg" alt="New iPhone XS 2019" style="display: block; transition: all 0.2s ease 0s" class="default-font font-size-14" />
                  </a>

                  <a class="bar" href="https://epsilon.mb-themes.com/for-sale/electronics/new-iphone-xs-2019_i63" class="default-font font-size-17">
                    <div class="price isGrid isDetail" class="default-font font-size-17"><span class="default-font font-size-17">1199.00 $</span></div>

                    <div class="image-counter" class="default-font font-size-13"><i class="fas fa-camera" speechify-initial-font-family='"Font Awesome 5 Free"' speechify-initial-font-size="11px"></i> 4</div>
                  </a>

                  <a href="https://epsilon.mb-themes.com/user/profile/samhaghard" class="user-image isGrid isDetail" class="default-font font-size-14">
                    <img class="lazy loaded" src="https://epsilon.mb-themes.com/oc-content/uploads/user-images/3_51u7v_20220323.png" alt="Sam Haghard" style="display: block; transition: all 0.2s ease 0s" class="default-font font-size-14" />
                  </a>

                  <div class="isGrid isDetail" class="default-font font-size-14">
                    <div class="favorite" class="default-font font-size-14">
                      <a href="javascript://" class="fi_save_favorite fi_save fi_fav_63" rel="63" title="Remove from favorites" class="default-font font-size-14"><i class="far fa-star" speechify-initial-font-family='"Font Awesome 5 Free"' speechify-initial-font-size="17px"></i><span class="default-font font-size-14">Remove from favorites</span></a>
                    </div>
                  </div>

                  <span class="premium-mark isGrid isDetail" class="default-font font-size-12">Premium</span>
                </div>

                <div class="data" class="default-font font-size-14">
                  <div class="info" class="default-font font-size-12">
                    <span class="premium-mark isList" class="default-font font-size-12">Premium</span>

                    Ireton, United States
                  </div>

                  <a class="title" href="https://epsilon.mb-themes.com/for-sale/electronics/new-iphone-xs-2019_i63" class="default-font font-size-15">New iPhone XS 2019</a>

                  <div class="description isDetail" class="default-font font-size-13">Donec consectetur dolor non purus ornare dignissim. In vel porttitor augue. a non placerat urna. Maecenas ut sapien molestie, iaculis enim a, fringilla massa. Donec lacus massa, ornare id ante nec, rutrum volutpat dolor. Vivamus placerat efficitur ipsum, convallis suscipit risus rhoncus consequat. Fusce suscipit ultricies auctor. Sed vel odio imperdiet, orna...</div>

                  <div class="price standalone isList" class="default-font font-size-14"><span class="default-font font-size-14">1199.00 $</span></div>

                  <div class="extra" class="default-font font-size-14">
                    <span class="default-font font-size-14">1 year ago</span>
                    <span class="default-font font-size-14">Electronics</span>

                    <span class="default-font font-size-14">3010 people viewed</span>
                  </div>

                  <div class="action isDetail" class="default-font font-size-14">
                    <div class="price" class="default-font font-size-16"><span class="default-font font-size-16">1199.00 $</span></div>
                  </div>

                  <div class="contact isDetail" class="default-font font-size-14">
                    <a class="contact" href="https://epsilon.mb-themes.com/for-sale/electronics/new-iphone-xs-2019_i63#contact" class="default-font font-size-14"><i class="fas fa-envelope-open" speechify-initial-font-family='"Font Awesome 5 Free"' speechify-initial-font-size="14px"></i> <span class="default-font font-size-14">Send message</span></a>
                  </div>
                </div>

                <div class="right isList" class="default-font font-size-14">
                  <div class="price" class="default-font font-size-17"><span class="default-font font-size-17">1199.00 $</span></div>

                  <div class="favorite" class="default-font font-size-14">
                    <a href="javascript://" class="fi_save_favorite fi_save fi_fav_63" rel="63" title="Remove from favorites" class="default-font font-size-14"><i class="far fa-star" speechify-initial-font-family='"Font Awesome 5 Free"' speechify-initial-font-size="17px"></i><span class="default-font font-size-14">Remove from favorites</span></a>
                  </div>
                </div>

                <div class="labels isGrid" class="default-font font-size-14"></div>
              </div>
            </div>
            <div class="simple-prod o2 is-premium wide" class="default-font font-size-14">
              <div class="simple-wrap" title="" class="default-font font-size-14">
                <div class="img-wrap" class="default-font font-size-14">
                  <a class="img" href="https://epsilon.mb-themes.com/for-sale/electronics/samsung-s8-pro_i64" class="default-font font-size-14">
                    <img class="lazy loaded" src="https://epsilon.mb-themes.com/oc-content/uploads/0/248_thumbnail.jpg" alt="Samsung S8 Pro" style="display: block; transition: all 0.2s ease 0s" class="default-font font-size-14" />
                  </a>

                  <a class="bar" href="https://epsilon.mb-themes.com/for-sale/electronics/samsung-s8-pro_i64" class="default-font font-size-17">
                    <div class="price isGrid isDetail" class="default-font font-size-17"><span class="default-font font-size-17">999.00 $</span></div>

                    <div class="image-counter" class="default-font font-size-13"><i class="fas fa-camera" speechify-initial-font-family='"Font Awesome 5 Free"' speechify-initial-font-size="11px"></i> 4</div>
                  </a>

                  <a href="https://epsilon.mb-themes.com/user/profile/samhaghard" class="user-image isGrid isDetail" class="default-font font-size-14">
                    <img class="lazy loaded" src="https://epsilon.mb-themes.com/oc-content/uploads/user-images/3_51u7v_20220323.png" alt="Sam Haghard" style="display: block; transition: all 0.2s ease 0s" class="default-font font-size-14" />
                  </a>

                  <div class="isGrid isDetail" class="default-font font-size-14">
                    <div class="favorite" class="default-font font-size-14">
                      <a href="javascript://" class="fi_save_favorite fi_save fi_fav_64" rel="64" title="Remove from favorites" class="default-font font-size-14"><i class="far fa-star" speechify-initial-font-family='"Font Awesome 5 Free"' speechify-initial-font-size="17px"></i><span class="default-font font-size-14">Remove from favorites</span></a>
                    </div>
                  </div>

                  <span class="premium-mark isGrid isDetail" class="default-font font-size-12">Premium</span>
                </div>

                <div class="data" class="default-font font-size-14">
                  <div class="info" class="default-font font-size-12">
                    <span class="premium-mark isList" class="default-font font-size-12">Premium</span>

                    Ireton, United States
                  </div>

                  <a class="title" href="https://epsilon.mb-themes.com/for-sale/electronics/samsung-s8-pro_i64" class="default-font font-size-15">Samsung S8 Pro</a>

                  <div class="description isDetail" class="default-font font-size-13">Praesent vulputate est in est vulputate varius. In hac habitasse platea dictumst. Vivamus ligula lectus, tincidunt dapibus ex id, egestas elementum nisl. Curabitur dolor turpis, aliquet ut dictum non, fringilla quis purus. Duis tempus ex sit amet mauris placerat, id laoreet elit placerat. Donec tellus orci, sodales ac nisi maximus, condimentum pulvinar velit...</div>

                  <div class="price standalone isList" class="default-font font-size-14"><span class="default-font font-size-14">999.00 $</span></div>

                  <div class="extra" class="default-font font-size-14">
                    <span class="default-font font-size-14">1 year ago</span>
                    <span class="default-font font-size-14">Electronics</span>

                    <span class="default-font font-size-14">1062 people viewed</span>
                  </div>

                  <div class="action isDetail" class="default-font font-size-14">
                    <div class="price" class="default-font font-size-16"><span class="default-font font-size-16">999.00 $</span></div>
                  </div>

                  <div class="contact isDetail" class="default-font font-size-14">
                    <a class="contact" href="https://epsilon.mb-themes.com/for-sale/electronics/samsung-s8-pro_i64#contact" class="default-font font-size-14"><i class="fas fa-envelope-open" speechify-initial-font-family='"Font Awesome 5 Free"' speechify-initial-font-size="14px"></i> <span class="default-font font-size-14">Send message</span></a>
                  </div>
                </div>

                <div class="right isList" class="default-font font-size-14">
                  <div class="price" class="default-font font-size-17"><span class="default-font font-size-17">999.00 $</span></div>

                  <div class="favorite" class="default-font font-size-14">
                    <a href="javascript://" class="fi_save_favorite fi_save fi_fav_64" rel="64" title="Remove from favorites" class="default-font font-size-14"><i class="far fa-star" speechify-initial-font-family='"Font Awesome 5 Free"' speechify-initial-font-size="17px"></i><span class="default-font font-size-14">Remove from favorites</span></a>
                  </div>
                </div>

                <div class="labels isGrid" class="default-font font-size-14"></div>
              </div>
            </div>
            <div class="simple-prod o3 wide" class="default-font font-size-14">
              <div class="simple-wrap" title="" class="default-font font-size-14">
                <div class="img-wrap" class="default-font font-size-14">
                  <a class="img" href="https://epsilon.mb-themes.com/for-sale/cameras-camera-accessories/canon-pix-z9_i313" class="default-font font-size-14">
                    <img class="lazy loaded" src="https://epsilon.mb-themes.com/oc-content/uploads/3/1242_thumbnail.jpg" alt="Canon Pix Z9" style="display: block; transition: all 0.2s ease 0s" class="default-font font-size-14" />
                  </a>

                  <a class="bar" href="https://epsilon.mb-themes.com/for-sale/cameras-camera-accessories/canon-pix-z9_i313" class="default-font font-size-17">
                    <div class="price isGrid isDetail" class="default-font font-size-17"><span class="default-font font-size-17">580.00 $</span></div>

                    <div class="image-counter" class="default-font font-size-13"><i class="fas fa-camera" speechify-initial-font-family='"Font Awesome 5 Free"' speechify-initial-font-size="11px"></i> 4</div>
                  </a>

                  <a href="https://epsilon.mb-themes.com/user/profile/peterclark" class="user-image isGrid isDetail" class="default-font font-size-14">
                    <img class="lazy loaded" src="https://epsilon.mb-themes.com/oc-content/uploads/user-images/4_BN8aL_20220323.png" alt="Peter Clark" style="display: block; transition: all 0.2s ease 0s" class="default-font font-size-14" />

                    <span class="business" title="Professional seller" speechify-initial-font-family='-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"' speechify-initial-font-size="8px">Pro</span>
                  </a>

                  <div class="isGrid isDetail" class="default-font font-size-14">
                    <div class="favorite" class="default-font font-size-14">
                      <a href="javascript://" class="fi_save_favorite fi_save fi_fav_313" rel="313" title="Remove from favorites" class="default-font font-size-14"><i class="far fa-star" speechify-initial-font-family='"Font Awesome 5 Free"' speechify-initial-font-size="17px"></i><span class="default-font font-size-14">Remove from favorites</span></a>
                    </div>
                  </div>
                </div>

                <div class="data" class="default-font font-size-14">
                  <div class="info" class="default-font font-size-12">Kerens, United States</div>

                  <a class="title" href="https://epsilon.mb-themes.com/for-sale/cameras-camera-accessories/canon-pix-z9_i313" class="default-font font-size-15">Canon Pix Z9</a>

                  <div class="description isDetail" class="default-font font-size-13">Sed vel venenatis dolor. Fusce lectus felis, tempor ut ex sed, cursus pharetra diam. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. In interdum dictum iaculis. Pellentesque eget luctus libero. Pellentesque non ipsum eget mi fringilla mattis sed vel lectus. Curabitur iaculis mattis rutrum. Phasellus condimentum mollis s...</div>

                  <div class="price standalone isList" class="default-font font-size-14"><span class="default-font font-size-14">580.00 $</span></div>

                  <div class="extra" class="default-font font-size-14">
                    <span class="default-font font-size-14">1 year ago</span>
                    <span class="default-font font-size-14">Cameras - Camera Accessories</span>

                    <span class="default-font font-size-14">1438 people viewed</span>
                  </div>

                  <div class="action isDetail" class="default-font font-size-14">
                    <div class="price" class="default-font font-size-16"><span class="default-font font-size-16">580.00 $</span></div>
                  </div>

                  <div class="contact isDetail" class="default-font font-size-14">
                    <a class="contact" href="https://epsilon.mb-themes.com/for-sale/cameras-camera-accessories/canon-pix-z9_i313#contact" class="default-font font-size-14"><i class="fas fa-envelope-open" speechify-initial-font-family='"Font Awesome 5 Free"' speechify-initial-font-size="14px"></i> <span class="default-font font-size-14">Send message</span></a>
                  </div>
                </div>

                <div class="right isList" class="default-font font-size-14">
                  <div class="price" class="default-font font-size-17"><span class="default-font font-size-17">580.00 $</span></div>

                  <div class="favorite" class="default-font font-size-14">
                    <a href="javascript://" class="fi_save_favorite fi_save fi_fav_313" rel="313" title="Remove from favorites" class="default-font font-size-14"><i class="far fa-star" speechify-initial-font-family='"Font Awesome 5 Free"' speechify-initial-font-size="17px"></i><span class="default-font font-size-14">Remove from favorites</span></a>
                  </div>
                </div>

                <div class="labels isGrid" class="default-font font-size-14"></div>
              </div>
            </div>
            <div class="simple-prod o4 wide" class="default-font font-size-14">
              <div class="simple-wrap" title="" class="default-font font-size-14">
                <div class="img-wrap" class="default-font font-size-14">
                  <a class="img" href="https://epsilon.mb-themes.com/for-sale/electronics/samsung-s7-with-cover_i249" class="default-font font-size-14">
                    <img class="lazy loaded" src="https://epsilon.mb-themes.com/oc-content/uploads/2/985_thumbnail.jpg" alt="Samsung S7 with cover" style="display: block; transition: all 0.2s ease 0s" class="default-font font-size-14" />
                  </a>

                  <a class="bar" href="https://epsilon.mb-themes.com/for-sale/electronics/samsung-s7-with-cover_i249" class="default-font font-size-17">
                    <div class="price isGrid isDetail" class="default-font font-size-17"><span class="default-font font-size-17">620.00 $</span></div>

                    <div class="image-counter" class="default-font font-size-13"><i class="fas fa-camera" speechify-initial-font-family='"Font Awesome 5 Free"' speechify-initial-font-size="11px"></i> 4</div>
                  </a>

                  <a href="https://epsilon.mb-themes.com/user/profile/samhaghard" class="user-image isGrid isDetail" class="default-font font-size-14">
                    <img class="lazy loaded" src="https://epsilon.mb-themes.com/oc-content/uploads/user-images/3_51u7v_20220323.png" alt="Sam Haghard" style="display: block; transition: all 0.2s ease 0s" class="default-font font-size-14" />
                  </a>

                  <div class="isGrid isDetail" class="default-font font-size-14">
                    <div class="favorite" class="default-font font-size-14">
                      <a href="javascript://" class="fi_save_favorite fi_save fi_fav_249" rel="249" title="Remove from favorites" class="default-font font-size-14"><i class="far fa-star" speechify-initial-font-family='"Font Awesome 5 Free"' speechify-initial-font-size="17px"></i><span class="default-font font-size-14">Remove from favorites</span></a>
                    </div>
                  </div>
                </div>

                <div class="data" class="default-font font-size-14">
                  <div class="info" class="default-font font-size-12">Ireton, United States</div>

                  <a class="title" href="https://epsilon.mb-themes.com/for-sale/electronics/samsung-s7-with-cover_i249" class="default-font font-size-15">Samsung S7 with cover</a>

                  <div class="description isDetail" class="default-font font-size-13">a imperdiet, sapien quis vehicula malesuada, sem massa porttitor eros, sed vulputate ipsum dui et massa. Vivamus imperdiet pulvinar massa, sed gravida dui. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Praesent volutpat a et sapien vehicula, at facilisis felis malesuada. Sed condimentum porttitor massa, convallis...</div>

                  <div class="price standalone isList" class="default-font font-size-14"><span class="default-font font-size-14">620.00 $</span></div>

                  <div class="extra" class="default-font font-size-14">
                    <span class="default-font font-size-14">1 year ago</span>
                    <span class="default-font font-size-14">Electronics</span>

                    <span class="default-font font-size-14">1069 people viewed</span>
                  </div>

                  <div class="action isDetail" class="default-font font-size-14">
                    <div class="price" class="default-font font-size-16"><span class="default-font font-size-16">620.00 $</span></div>
                  </div>

                  <div class="contact isDetail" class="default-font font-size-14">
                    <a class="contact" href="https://epsilon.mb-themes.com/for-sale/electronics/samsung-s7-with-cover_i249#contact" class="default-font font-size-14"><i class="fas fa-envelope-open" speechify-initial-font-family='"Font Awesome 5 Free"' speechify-initial-font-size="14px"></i> <span class="default-font font-size-14">Send message</span></a>
                  </div>
                </div>

                <div class="right isList" class="default-font font-size-14">
                  <div class="price" class="default-font font-size-17"><span class="default-font font-size-17">620.00 $</span></div>

                  <div class="favorite" class="default-font font-size-14">
                    <a href="javascript://" class="fi_save_favorite fi_save fi_fav_249" rel="249" title="Remove from favorites" class="default-font font-size-14"><i class="far fa-star" speechify-initial-font-family='"Font Awesome 5 Free"' speechify-initial-font-size="17px"></i><span class="default-font font-size-14">Remove from favorites</span></a>
                  </div>
                </div>

                <div class="labels isGrid" class="default-font font-size-14"></div>
              </div>
            </div>
          </div>

          <div class="nice-scroll-next disabled" style="display: block" class="default-font font-size-14"><i class="fas fa-caret-right" speechify-initial-font-family='"Font Awesome 5 Free"' speechify-initial-font-size="20px"></i></div>
        </div>
      </div>
    </div>
  </section>