<footer class="default-font font-size-15">
  <div class="container" class="default-font font-size-15">
    <section class="one" class="default-font font-size-15">
      <div class="col contact" class="default-font font-size-15">
        <h4 class="default-font font-size-18">About us</h4>

        <p class="logo" class="default-font font-size-15"><img src="https://epsilon.mb-themes.com/oc-content/themes/epsilon/images/logo-default.png" alt="Epsilon Premium Osclass Classifieds Theme" class="default-font font-size-15" /></p>
        <p class="company" class="default-font font-size-15"><strong class="default-font font-size-15">EpsilonTheme</strong></p>
        <p class="default-font font-size-15">Phone: +1 (800) 228-5651</p>
        <p class="default-font font-size-15">Email: support@dot.com</p>
        <p class="default-font font-size-15">Roling st.59/18 New York 22123 Nebraska US</p>
        <div class="quick-links" class="default-font font-size-15">
          <a class="btn-mini" href="https://epsilon.mb-themes.com/im-threads" class="default-font font-size-12">Messages</a>

          <a class="btn-mini" href="https://epsilon.mb-themes.com/fi-favorite-items" class="default-font font-size-12">Favorite</a>

          <a class="btn-mini" href="https://epsilon.mb-themes.com/companies" class="default-font font-size-12">Companies</a>

          <a class="btn-mini" href="https://epsilon.mb-themes.com/blog/" class="default-font font-size-12">Blog</a>

          <a class="btn-mini" href="https://epsilon.mb-themes.com/faq/" class="default-font font-size-12">FAQ</a>
        </div>
      </div>

      <div class="col socialx" class="default-font font-size-15">
        <h4 class="default-font font-size-18">Social media</h4>

        <a class="whatsapp" href="whatsapp://send?text=https%3A%2F%2Fepsilon.mb-themes.com%2F" data-action="share/whatsapp/share" class="default-font font-size-15"><i class="fab fa-whatsapp" speechify-initial-font-family='"Font Awesome 5 Brands"' speechify-initial-font-size="15px"></i> Whatsapp</a>
        <a class="facebook" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fepsilon.mb-themes.com%2F" title="Share us on Facebook" target="_blank" class="default-font font-size-15"><i class="fab fa-facebook-f" speechify-initial-font-family='"Font Awesome 5 Brands"' speechify-initial-font-size="15px"></i> Facebook</a>
        <a class="pinterest" href="https://pinterest.com/pin/create/button/?url=https%3A%2F%2Fepsilon.mb-themes.com%2F&amp;media=https://epsilon.mb-themes.com/oc-content/themes/epsilon/images/logo.jpg&amp;description=" title="Share us on Pinterest" target="_blank" class="default-font font-size-15"><i class="fab fa-pinterest-p" speechify-initial-font-family='"Font Awesome 5 Brands"' speechify-initial-font-size="15px"></i> Pinterest</a>
        <a class="twitter" href="https://twitter.com/home?status=https%3A%2F%2Fepsilon.mb-themes.com%2F%20-%20your%20classifieds" title="Tweet us" target="_blank" class="default-font font-size-15"><i class="fab fa-twitter" speechify-initial-font-family='"Font Awesome 5 Brands"' speechify-initial-font-size="15px"></i> Twitter</a>
        <a class="linkedin" href="https://www.linkedin.com/shareArticle?mini=true&amp;url=https%3A%2F%2Fepsilon.mb-themes.com%2F&amp;title=My%20classifieds&amp;summary=&amp;source=" title="Share us on LinkedIn" target="_blank" class="default-font font-size-15"><i class="fab fa-linkedin" speechify-initial-font-family='"Font Awesome 5 Brands"' speechify-initial-font-size="15px"></i> LinkedIn</a>
      </div>

      <div class="col pages" class="default-font font-size-15">
        <h4 class="default-font font-size-18">Information</h4>

        <a href="{% url 'home:terms-conditions' %}" class="default-font font-size-15">Terms and Conditions</a>
        <a href="{% url 'home:privacy-policy' %}" class="default-font font-size-15">Privacy Policy</a>
        <a href="{% url 'home:legal-notice' %}" class="default-font font-size-15">Legal Notice</a>
        <a href="https://epsilon.mb-themes.com/promotion-p27" class="default-font font-size-15">How promotion works</a>

 
      </div>

      <div class="col locale" class="default-font font-size-15">
        <h4 class="default-font font-size-18">Change language</h4>

        <a class="lang" href="https://epsilon.mb-themes.com/language/ar_SY" class="default-font font-size-15">
          <img src="https://epsilon.mb-themes.com/oc-content/themes/epsilon/images/country_flags/large/sy.png" alt="Country flag" class="default-font font-size-15" />
          <span class="default-font font-size-15">Arabic‎</span>
        </a>
        <a class="lang" href="https://epsilon.mb-themes.com/language/zh_CN" class="default-font font-size-15">
          <img src="https://epsilon.mb-themes.com/oc-content/themes/epsilon/images/country_flags/large/cn.png" alt="Country flag" class="default-font font-size-15" />
          <span class="default-font font-size-15">Chinese (China)‎</span>
        </a>
        <a class="lang active" href="https://epsilon.mb-themes.com/language/en_US" class="default-font font-size-15">
          <img src="https://epsilon.mb-themes.com/oc-content/themes/epsilon/images/country_flags/large/us.png" alt="Country flag" class="default-font font-size-15" />
          <span class="default-font font-size-15">English (US)‎</span>
        </a>
        <a class="lang" href="https://epsilon.mb-themes.com/language/ro_RO" class="default-font font-size-15">
          <img src="https://epsilon.mb-themes.com/oc-content/themes/epsilon/images/country_flags/large/ro.png" alt="Country flag" class="default-font font-size-15" />
          <span class="default-font font-size-15">Romanian‎</span>
        </a>
        <a class="lang" href="https://epsilon.mb-themes.com/language/ru_RU" class="default-font font-size-15">
          <img src="https://epsilon.mb-themes.com/oc-content/themes/epsilon/images/country_flags/large/ru.png" alt="Country flag" class="default-font font-size-15" />
          <span class="default-font font-size-15">Russian‎</span>
        </a>
      </div>

      <div class="footer-hook" class="default-font font-size-15">
        <script type="application/ld+json" class="default-font font-size-15">
          {
            "@context": "http://schema.org/",
            "@type": "Organization",
            "name": "Epsilon Premium Osclass Classifieds Theme",
            "url": "https://epsilon.mb-themes.com/"
          }
        </script>

        <script type="text/javascript" class="default-font font-size-15">
          var fi_favorite_url = "https://epsilon.mb-themes.com/index.php?page=ajax&action=custom&ajaxfile=favorite_items/ajax.php";
          var fi_empty = "You do not have any favorite listings";
        </script>
        <script type="text/javascript" class="default-font font-size-15">
          $(".flashmessage .ico-close").click(function () {
            $(this).parent().hide();
          });
        </script>
        <script type="text/javascript" class="default-font font-size-15">
          var faqBaseUrl = "https://epsilon.mb-themes.com/";
        </script>
        <div style="display: none" id="mo-fancy-dialog" class="default-font font-size-15"></div>
        <div style="display: none" id="mo-fancy-overlay" class="default-font font-size-15"></div>
        <script type="text/javascript" class="default-font font-size-15">
          var moValidPriceReq = "Price: This field is required.";
          var moValidNameReq = "Name: This field is required.";
          var moValidNameShort = "Name: Name is too short.";
          var moValidEmailReq = "Email: This field is required.";
          var moValidEmailShort = "Email: Not valid email format.";
          var moYourReply = "Your reply";
        </script>
      </div>
      <div class="footer-widgets" class="default-font font-size-15"></div>
    </section>

    <section class="two" class="default-font font-size-13">
      <a href="https://epsilon.mb-themes.com/contact" class="default-font font-size-13">Contact us</a>

      <a href="https://osclasspoint.com" class="default-font font-size-13">Osclass Market</a>

      <span class="default-font font-size-13">Copyright © 2023 EpsilonTheme All rights reserved.</span>
    </section>
  </div>
</footer>
