{% extends 'home/base.html' %}
{% load static %}
{% block content %}

<body id="body-item-post" class="item-publish">
  {% include 'home/header.html' %}

  <div class="container">
    <div class="box">
      <h1>Post your ad</h1>
      <form name="item" action="{% url 'product:add_product' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <!-- Main Category Field -->
        <div class="form-section">
          <label for="id_category">{{ form.category.label }}</label>
          {{ form.category }}
        </div>

        <!-- Subcategory Field -->
        <div class="form-section" id="subcategory-section" style="display: none;">
          <label for="id_subcategory">Subcategory</label>
          <select id="id_subcategory" name="subcategory" class="form-control">
            <option value="">Select subcategory</option>
            <!-- Options will be populated based on the main category selection -->
          </select>
        </div>


        <!-- City Field -->
        <div class="form-section">
          <label for="id_city">{{ form.city.label }}</label>
          {{ form.city }}
        </div>


        <!-- Address Field -->
        <div class="form-section">
          <label for="id_address">{{ form.address.label }}</label>
          {{ form.address }}
        </div>

        <!-- Price Field -->
        <div class="form-section">
          <label for="id_price">{{ form.price.label }}</label>
          {{ form.price }}
        </div>

        <!-- Condition Field -->
        <div class="form-section">
          <label for="id_condition">{{ form.condition.label }}</label>
          {{ form.condition }}
        </div>

        <!-- Title Field -->
        <div class="form-section">
          <label for="id_title">{{ form.title.label }}</label>
          {{ form.title }}
        </div>

        <!-- Description Field -->
        <div class="form-section">
          <label for="id_description">{{ form.description.label }}</label>
          {{ form.description }}
        </div>

        <!-- Seller Information Fields -->
        <div class="form-section">
          <label for="id_contact_name">Contact Name</label>
          {{ form.contact_name }}
        </div>

        <div class="form-section">
          <label for="id_phone_number">Phone Number</label>
          {{ form.phone_number }}
          {{ form.phone_visible }} <label for="id_phone_visible">Phone visible on ad</label>
        </div>

        <div class="form-section">
          <label for="id_email">Email</label>
          {{ form.email }}
          {{ form.email_visible }} <label for="id_email_visible">Email visible on ad</label>
        </div>

        <!-- Formset for images -->
        <div class="form-section">
          <h3>Product Images</h3>
          {{ formset.management_form }}
          {% for form in formset %}
          <div class="inline-formset">
            <!-- Display each field in the formset -->
            <label>{{ form.image.label }}</label>
            {{ form.image }}
            <label>{{ form.alt_text.label }}</label>
            {{ form.alt_text }}
          </div>
          {% endfor %}
        </div>

        <!-- Messages -->
        {% if messages %}
        <ul class="messages">
          {% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}

        <!-- Submit button -->
        <button type="submit" class="btn">Submit</button>
      </form>
    </div>
  </div>

  {% include 'home/footer.html' %}

  <script type="text/javascript">
    $(document).ready(function () {
      function updateSubcategoryOptions() {
        var mainCategory = $('#id_category').val();
        $('#id_subcategory').empty().append('<option value="">Select subcategory</option>');
        if (mainCategory) {
          $.getJSON('/ajax/load-subcategories/', {
            category_id: mainCategory
          }, function (data) {
            $.each(data, function (index, item) {
              $('#id_subcategory').append($('<option>', {
                value: item.id,
                text: item.name
              }));
            });
            $('#subcategory-section').show(); // This should match the ID of your subcategory div
          });

        } else {
          $('#subcategory-select').hide();
        }
      }

      $('#id_category').change(updateSubcategoryOptions);
      updateSubcategoryOptions(); // Run on document ready to handle pre-selected categories
    });
  </script>

</body>

{% endblock %}