
/* Base style for the tabs */

.nav-tabs {
  display: flex;
  justify-content: space-around;
  background: #3b49df;
  overflow-x: auto;
  white-space: nowrap;
  border-radius: 10px;
  /* Rounded corners */
}

.nav-item {
  flex: 1;
  display: flex;
  align-items: center;
}

.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 71px;
  /* Adjusted height for desktop */
  color: white;
  font-size: 16px;
  font-weight: bold;
  border-radius: 10px;
  padding: 5px;
  /* Adjusted padding */
}

.nav-link.active {
  background-color: white;
  /* White background for active tab */
  color: #3b49df;
  /* Text color for active tab */
  border-radius: 10px;
  /* Rounded corners */
  padding: 0px 20px;
  /* Adjusted padding for active tab */
  border: 2px solid #3b49df;
  /* Border color for active tab */

  height: calc(71px * 0.7);
}

/* Scrollbar customization */
.nav-tabs::-webkit-scrollbar {
  height: 10px;
}

.nav-tabs::-webkit-scrollbar-thumb {
  background: #888;
}

.nav-tabs::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Responsive adjustments for mobile screens */
@media (max-width: 768px) {
  .nav-link {
    height: 41px;
    /* Adjusted height for mobile */
    font-size: 14px;
    /* Adjusted font size for mobile */
  }

  .nav-link.active {
    height: calc(41px * 0.7);
    /* 70% of 41px for mobile */

    padding: 0px 10px;
    /* Adjusted padding for active tab */
  }
}

.tab-pane {
  display: none;
  /* Hide all tab content by default */
}

.tab-pane.active {
  display: block;
  /* Only show the content of the active tab */
}


.responsive-table {
  overflow-x: auto;
  /* Allows table to scroll horizontally on small screens */
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

th,
td {
  border: 1px solid #ddd;
  text-align: left;
  padding: 8px;
  min-width: 20px;
  /* Minimum space around content */
}

th {
  background-color: #f2f2f2;
  color: #333;
}

tbody tr:nth-child(odd) {
  background-color: #f9f9f9;
}

/* Ensure table headers and cells are never stacked */
@media screen and (max-width: 600px) {
  .responsive-table {
    overflow-x: auto;
    /* Enable horizontal scrolling */
  }

  table {
    min-width: unset;
    /* Allow the table to adjust to content width */
  }

  th,
  td {
    white-space: nowrap;
    /* Ensure text doesn't wrap */
    padding: 8px;
    /* Maintain padding */
    border: 1px solid #ddd;
    /* Consistent borders */
  }

  th {
    background-color: #f2f2f2;
    color: #333;
  }
}
