{% load static %}
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>Epsilon Premium Osclass Classifieds Theme</title>
    <meta name="title" content="Epsilon Premium Osclass Classifieds Theme" />
    <meta name="description" content="Best classifieds theme for osclass, demonstration how theme works on PHP classifieds script." />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Cache-Control" content="no-cache" />
    <meta http-equiv="Expires" content="Mon, 01 Jul 1970 00:00:00 GMT" />
    <meta name="robots" content="index, follow" />
    <meta name="googlebot" content="index, follow" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <link rel="shortcut icon" type="image/x-icon" href="https://epsilon.mb-themes.com/oc-content/themes/epsilon/images/favicons/sample/favicon.ico" />
    <link rel="icon" href="https://epsilon.mb-themes.com/oc-content/themes/epsilon/images/favicons/sample/favicon-16x16.png" sizes="16x16" type="image/png" />
    <link rel="icon" href="https://epsilon.mb-themes.com/oc-content/themes/epsilon/images/favicons/sample/favicon-32x32.png" sizes="32x32" type="image/png" />
    <link rel="apple-touch-icon" sizes="180x180" href="https://epsilon.mb-themes.com/oc-content/themes/epsilon/images/favicons/sample/apple-touch-icon.png" />
    <!--<link rel="mask-icon" href="https://epsilon.mb-themes.com/oc-content/themes/epsilon/images/favicons/sample/safari-pinned-tab.svg" color="#8bc72a">-->
    <!--<meta name="theme-color" content="#8bc72a">-->
    <script type="text/javascript">
      var currentLocaleCode = "en_US";
      var currentLocale = "English (US)";
      var fileDefaultText = "No file selected";
      var fileBtnText = "Choose File";
      var baseDir = "https://epsilon.mb-themes.com/";
      var baseSearchUrl = "https://epsilon.mb-themes.com/search";
      var baseAjaxUrl = "https://epsilon.mb-themes.com/index.php?ajaxRequest=1";
      var currentLocation = "";
      var currentSection = "";
      var userLogged = "0";
      var adminLogged = "1";
      var epsLazy = "1";
      var darkMode = "1";
      var imgPreviewRatio = 1.333;
      var searchRewrite = "/search";
      var ajaxSearch = "1";
      var ajaxForms = "0";
      var locationPick = "0";
      var delTitleNc = "Parent category cannot be selected";
      var jqueryVersion = "1";
      var isRtl = false;
    </script>
    <!-- Facebook Open Graph Tags-->
    <meta property="og:title" content="Epsilon Premium Osclass Classifieds Theme" />
    <meta property="og:site_name" content="Epsilon Premium Osclass Classifieds Theme" />
    <meta property="og:url" content="https://epsilon.mb-themes.com/" />
    <meta property="og:description" content="Best classifieds theme for osclass, demonstration how theme works on PHP classifieds script." />
    <meta property="og:locale" content="en_US" />
    <meta property="og:image" content="" />

    <!-- Twitter Tags-->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@Anonymous" />
    <meta name="twitter:title" content="Epsilon Premium Osclass Classifieds Theme" />
    <meta name="twitter:description" content="Best classifieds theme for osclass, demonstration how theme works on PHP classifieds script." />
    <meta name="twitter:image" content="" />

    <meta name="generator" content="Osclass 8.1.2" />
    <link href="https://epsilon.mb-themes.com/oc-content/plugins/realestate_attributes/css/style.css" rel="stylesheet" type="text/css" />
    <link href="https://epsilon.mb-themes.com/oc-content/plugins/jobs_attributes/css/styles.css" rel="stylesheet" type="text/css" />
    <script>
      var imRqName = "Your Name: This field is required, enter your name please.";
      var imDsName = "Your Name: Name is too short, enter at least 3 characters.";
      var imRqEmail = "Your Email: This field is required, enter your email please.";
      var imDsEmail = "Your Email: Address your have entered is not in valid format.";
      var imRqTitle = "Title: Please enter title of this converstation.";
      var imDsTitle = "Title: Title is too short, enter at least 2 characters.";
      var imRqMessage = "Message: This field is required, please enter your message.";
      var imDsMessage = "Message: Enter at least 2 characters.";
    </script>
    <link href="https://epsilon.mb-themes.com/oc-content/plugins/favorite_items/css/user.css" rel="stylesheet" type="text/css" />
    <link href="https://epsilon.mb-themes.com/oc-content/plugins/faq/css/user.css?v=20231013175641" rel="stylesheet" type="text/css" />
    <link href="https://epsilon.mb-themes.com/oc-content/plugins/blog/css/user.css?v=20231013175641" rel="stylesheet" type="text/css" />
    <link href="//cdnjs.cloudflare.com/ajax/libs/lightgallery/1.6.11/css/lightgallery.min.css" rel="stylesheet" type="text/css" />
    <link href="https://epsilon.mb-themes.com/oc-content/plugins/make_offer/css/user.css?v=20231013175641" rel="stylesheet" type="text/css" />
    <link href="https://epsilon.mb-themes.com/oc-content/plugins/instant_messenger/css/user.css?v=20231013055641" rel="stylesheet" type="text/css" />
    <link href="https://epsilon.mb-themes.com/oc-content/plugins/user_rating/css/user.css?v=20231013175641" rel="stylesheet" type="text/css" />
    <link href="https://epsilon.mb-themes.com/oc-content/plugins/business_profile/css/user.css?v=20231013175641" rel="stylesheet" type="text/css" />
    <link href="https://epsilon.mb-themes.com/oc-content/plugins/business_profile/css/tipped.css" rel="stylesheet" type="text/css" />
    <link href="https://epsilon.mb-themes.com/oc-content/themes/epsilon/css/style.css?v=20231013175641" rel="stylesheet" type="text/css" />
    <link href="https://epsilon.mb-themes.com/oc-content/themes/epsilon/css/responsive.css?v=20231013175641" rel="stylesheet" type="text/css" />
    <link href="https://epsilon.mb-themes.com/oc-content/themes/epsilon/css/dark.css?v=20231013175641" rel="stylesheet" type="text/css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet" type="text/css" />
    <link href="https://epsilon.mb-themes.com/oc-content/themes/epsilon/css/jquery-ui.min.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="https://epsilon.mb-themes.com/oc-includes/osclass/assets/js/jquery.min.js"></script>
    <script type="text/javascript" src="https://epsilon.mb-themes.com/oc-content/plugins/favorite_items/js/user.js"></script>
    <script type="text/javascript" src="https://epsilon.mb-themes.com/oc-content/plugins/faq/js/user.js?v=20231013175641"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/1.6.11/js/lightgallery-all.min.js"></script>
    <script type="text/javascript" src="https://epsilon.mb-themes.com/oc-content/plugins/blog/js/user.js?v=20231013175641"></script>
    <script type="text/javascript" src="https://epsilon.mb-themes.com/oc-content/plugins/make_offer/js/user.js?v=20231013175641"></script>
    <script type="text/javascript" src="https://epsilon.mb-themes.com/oc-content/plugins/user_rating/js/user.js?v=20231013175641"></script>
    <script type="text/javascript" src="https://epsilon.mb-themes.com/oc-content/plugins/business_profile/js/user.js?v=20231013175641"></script>
    <script type="text/javascript" src="https://epsilon.mb-themes.com/oc-content/plugins/business_profile/js/tipped.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.lazy/1.7.9/jquery.lazy.min.js"></script>
    <script type="text/javascript" src="https://epsilon.mb-themes.com/oc-includes/osclass/assets/js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="https://epsilon.mb-themes.com/oc-content/themes/epsilon/js/global.js?v=20231013175641"></script>
    <link href="../../oc-content/plugins/faq/css/user4182.css?v=20231024042030" rel="stylesheet" type="text/css" />
    <link href="../../oc-content/plugins/blog/css/user4182.css?v=20231024042030" rel="stylesheet" type="text/css" />
    <link href="{% static '/ajax/libs/lightgallery/1.6.11/css/lightgallery.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="../../oc-content/plugins/make_offer/css/user4182.css?v=20231024042030" rel="stylesheet" type="text/css" />
    <link href="../../oc-content/plugins/instant_messenger/css/user4182.css?v=20231024042030" rel="stylesheet" type="text/css" />
    <link href="../../oc-content/plugins/user_rating/css/user4182.css?v=20231024042030" rel="stylesheet" type="text/css" />
    <link href="../../oc-content/plugins/business_profile/css/user4182.css?v=20231024042030" rel="stylesheet" type="text/css" />
    <link href="../../oc-content/plugins/business_profile/css/tipped.css" rel="stylesheet" type="text/css" />
    <link href="../../oc-content/themes/epsilon/css/style4182.css?v=20231024042030" rel="stylesheet" type="text/css" />
    <link href="../../oc-content/themes/epsilon/css/responsive4182.css?v=20231024042030" rel="stylesheet" type="text/css" />
    <link href="../../oc-content/themes/epsilon/css/dark4182.css?v=20231024042030" rel="stylesheet" type="text/css" />
    <link href="{% static '/ajax/libs/font-awesome/5.15.4/css/all.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="../../oc-content/themes/epsilon/css/jquery-ui.min.css" rel="stylesheet" type="text/css" />
    <link href="{% static '/ajax/libs/Swiper/8.1.0/swiper-bundle.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static '/ajax/libs/Swiper/8.1.0/swiper-bundle.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static '/ajax/libs/lightgallery/1.10.0/css/lightgallery.min.css' %}" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="../../oc-includes/osclass/assets/js/jquery.min.js"></script>
    <script type="text/javascript" src="../../oc-content/plugins/favorite_items/js/user.js"></script>
    <script type="text/javascript" src="../../oc-content/plugins/faq/js/user4182.js?v=20231024042030"></script>
    <script type="text/javascript" src="{% static '/ajax/libs/lightgallery/1.6.11/js/lightgallery-all.min.js"></script>
    <script type="text/javascript" src="../../oc-content/plugins/blog/js/user4182.js?v=20231024042030"></script>
    <script type="text/javascript" src="../../oc-content/plugins/make_offer/js/user4182.js?v=20231024042030"></script>
    <script type="text/javascript" src="../../oc-content/plugins/user_rating/js/user4182.js?v=20231024042030"></script>
    <script type="text/javascript" src="../../oc-content/plugins/business_profile/js/user4182.js?v=20231024042030"></script>
    <script type="text/javascript" src="../../oc-content/plugins/business_profile/js/tipped.js"></script>
    <script type="text/javascript" src="{% static '/ajax/libs/jquery.lazy/1.7.9/jquery.lazy.min.js' %}"></script>
    <script type="text/javascript" src="../../oc-content/themes/epsilon/js/jquery.validate.min.js"></script>
    <script type="text/javascript" src="{% static '/ajax/libs/Swiper/8.1.0/swiper-bundle.min.js' %}"></script>
    <script type="text/javascript" src="{% static '/ajax/libs/lightgallery/1.10.0/js/lightgallery-all.min.js' %}"></script>
    <script type="text/javascript" src="../../oc-includes/osclass/assets/js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="../../oc-content/themes/epsilon/js/global4182.js?v=20231024042030"></script>

    <link href="{% static 'custom.css' %}" />
    <link href="{% static 'dark.css' %}" />
    <link href="{% static 'print.css' %}" />
    <link href="{% static 'rtl.css' %}" />
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    <link href="{% static 'responsive.css' %}" />
    <link href="{% static 'jquery-ui.min.css' %}" />

    <style></style>

    <link rel="stylesheet" type="text/css" href="chrome-extension://bbpokcagpggnekcmamgdieebhpkjmljm/css/fonts.css" />
  </head>
  {% block content %} {% endblock %}
</html>
