<footer>
  <div class="container">
    <section class="one">
      <div class="col contact">
        <h4>About us</h4>

        <p class="logo"><img src="https://epsilon.mb-themes.com/oc-content/themes/epsilon/images/logo-default.png" alt="Epsilon Premium Osclass Classifieds Theme" /></p>
        <p class="company"><strong>EpsilonTheme</strong></p>
        <p>Phone: +1 (800) 228-5651</p>
        <p>Email: support@dot.com</p>
        <p>Roling st.59/18 New York 22123 Nebraska US</p>
        <div class="quick-links">
          <a class="btn-mini" href="https://epsilon.mb-themes.com/im-threads">Messages</a>

          <a class="btn-mini" href="https://epsilon.mb-themes.com/fi-favorite-items">Favorite</a>

          <a class="btn-mini" href="https://epsilon.mb-themes.com/companies">Companies</a>

          <a class="btn-mini" href="https://epsilon.mb-themes.com/blog/">Blog</a>

          <a class="btn-mini" href="https://epsilon.mb-themes.com/faq/">FAQ</a>
        </div>
      </div>

      <div class="col socialx">
        <h4>Social media</h4>

        <a class="whatsapp" href="whatsapp://send?text=https%3A%2F%2Fepsilon.mb-themes.com%2F" data-action="share/whatsapp/share"><i class="fab fa-whatsapp"></i> Whatsapp</a>
        <a class="facebook" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fepsilon.mb-themes.com%2F" title="Share us on Facebook" target="_blank"><i class="fab fa-facebook-f"></i> Facebook</a>
        <a class="pinterest" href="https://pinterest.com/pin/create/button/?url=https%3A%2F%2Fepsilon.mb-themes.com%2F&amp;media=https://epsilon.mb-themes.com/oc-content/themes/epsilon/images/logo.jpg&amp;description=" title="Share us on Pinterest" target="_blank"><i class="fab fa-pinterest-p"></i> Pinterest</a>
        <a class="twitter" href="https://twitter.com/home?status=https%3A%2F%2Fepsilon.mb-themes.com%2F%20-%20your%20classifieds" title="Tweet us" target="_blank"><i class="fab fa-twitter"></i> Twitter</a>
        <a class="linkedin" href="https://www.linkedin.com/shareArticle?mini=true&amp;url=https%3A%2F%2Fepsilon.mb-themes.com%2F&amp;title=My%20classifieds&amp;summary=&amp;source=" title="Share us on LinkedIn" target="_blank"><i class="fab fa-linkedin"></i> LinkedIn</a>
      </div>

      <div class="col pages">
        <h4>Information</h4>

        <a href="https://epsilon.mb-themes.com/terms-and-conditions-p24">Terms and Conditions</a>
        <a href="https://epsilon.mb-themes.com/privacy-policy-p25">Privacy Policy</a>
        <a href="https://epsilon.mb-themes.com/legal-p26">Legal Notice</a>
        <a href="https://epsilon.mb-themes.com/promotion-p27">How promotion works</a>

        <a href="https://osclass-classifieds.com/">Osclass Classifieds</a>
      </div>

      <div class="col locale">
        <h4>Change language</h4>

        <a class="lang" href="https://epsilon.mb-themes.com/language/ar_SY">
          <img src="https://epsilon.mb-themes.com/oc-content/themes/epsilon/images/country_flags/large/sy.png" alt="Country flag" />
          <span>Arabic&#x200E;</span>
        </a>
        <a class="lang" href="https://epsilon.mb-themes.com/language/zh_CN">
          <img src="https://epsilon.mb-themes.com/oc-content/themes/epsilon/images/country_flags/large/cn.png" alt="Country flag" />
          <span>Chinese (China)&#x200E;</span>
        </a>
        <a class="lang active" href="https://epsilon.mb-themes.com/language/en_US">
          <img src="https://epsilon.mb-themes.com/oc-content/themes/epsilon/images/country_flags/large/us.png" alt="Country flag" />
          <span>English (US)&#x200E;</span>
        </a>
        <a class="lang" href="https://epsilon.mb-themes.com/language/ro_RO">
          <img src="https://epsilon.mb-themes.com/oc-content/themes/epsilon/images/country_flags/large/ro.png" alt="Country flag" />
          <span>Romanian&#x200E;</span>
        </a>
        <a class="lang" href="https://epsilon.mb-themes.com/language/ru_RU">
          <img src="https://epsilon.mb-themes.com/oc-content/themes/epsilon/images/country_flags/large/ru.png" alt="Country flag" />
          <span>Russian&#x200E;</span>
        </a>
      </div>

      <div class="footer-hook">
        <script type="application/ld+json">
          {
            "@context": "http://schema.org/",
            "@type": "Organization",
            "name": "Create a new account - Epsilon Premium Osclass Classifieds Theme",
            "url": "https://epsilon.mb-themes.com/user/register"
          }
        </script>

        <script type="text/javascript">
          var fi_favorite_url = "https://epsilon.mb-themes.com/index.php?page=ajax&amp;action=custom&amp;ajaxfile=favorite_items/ajax.php";
          var fi_empty = "You do not have any favorite listings";
        </script>
        <script type="text/javascript">
          $(".flashmessage .ico-close").click(function () {
            $(this).parent().hide();
          });
        </script>
        <script type="text/javascript">
          var faqBaseUrl = "https://epsilon.mb-themes.com/";
        </script>
        <div style="display: none" id="mo-fancy-dialog"></div>
        <div style="display: none" id="mo-fancy-overlay"></div>
        <script type="text/javascript">
          var moValidPriceReq = "Price: This field is required.";
          var moValidNameReq = "Name: This field is required.";
          var moValidNameShort = "Name: Name is too short.";
          var moValidEmailReq = "Email: This field is required.";
          var moValidEmailShort = "Email: Not valid email format.";
          var moYourReply = "Your reply";
        </script>
        <script type="text/javascript">
          var anr_onloadCallback = function () {
            var anr_captcha_1;
            anr_captcha_1 = grecaptcha.render("anr_captcha_field_1", {
              sitekey: "6Ld2HhEUAAAAAGeDtTXH-GyxL-IbAqlZkvSq_iSI",
              theme: "light",
              size: "normal",
            });
          };
        </script>
        <script src="https://www.google.com/recaptcha/api.js?onload=anr_onloadCallback&amp;render=explicit" async defer></script>
      </div>
      <div class="footer-widgets"></div>
    </section>

    <section class="two">
      <a href="https://epsilon.mb-themes.com/contact">Contact us</a>

      <a href="https://osclasspoint.com/">Osclass Market</a>

      <span>Copyright &copy; 2023 EpsilonTheme All rights reserved.</span>
    </section>
  </div>
</footer>
